@model AfluexSchool.Models.Home

<ul class="metismenu" id="menu">
    @if (Model != null)
    {
        if (Model.lstMenu != null)
        {
            <li>
                <a class="ai-icon" href="/Admin/Dashboard" aria-expanded="false">
                    <i class="fa fa-tachometer"></i>
                    <span class="nav-text">DashBoard</span>
                </a>
            </li>
            foreach (var item in Model.lstMenu)
            {
                <li>
                    @if (item.Url == "#")
                        {
                        @*<a class="nav-link dropdown-toggle" href="@item.Url"><i class="@item.Icons"></i> <span>@item.MenuName</span> <i class="material-icons arrow">expand_more</i></a>*@
                        <a class="has-arrow" href="@item.Url" aria-expanded="false">
                            <i class="@item.Icons"></i>
                            <span class="nav-text">@item.MenuName</span>
                        </a>
                    }
                    else
                    {
                        @*<a class="nav-link dropdown-toggle" href="@item.Url"><i class="@item.Icons"></i> <span>@item.MenuName</span> </a>*@
                        <a href="@item.Url">
                            <i class="@item.Icons"></i>
                            <span class="nav-text">@item.MenuName</span>
                        </a>
                    }
                    <ul aria-expanded="false">

                        @if (item.Url == "#")
                        {
                            foreach (var item1 in Model.lstsubmenu)
                            {
                                if (item1.MenuId == item.MenuId)
                                {
                                    <li><a href="@item1.Url">@item1.SubMenuName</a></li>
                                    @*<div class="nav-item"><a class="nav-link" href="@item1.Url"><span>@item1.SubMenuName</span></a></div>*@
                                }
                            }
                        }
                    </ul>
                </li>

            }
            <li>
                <a class="ai-icon" href="/master/GetAllMessages" aria-expanded="false">
                    <i class="fa fa-users"></i>
                    <span class="nav-text">Complain Box</span>
                </a>
            </li>
        }
    }

</ul>