@model AfluexSchool.Models.Reports

@{
    ViewBag.Title = "DueReportClassWise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DueReportClassWise", "AdminReports", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Due Report Class Wise</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Reports</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Due Report Class Wise</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                @*<p style="color:red">
                    @TempData["LeaveList"]
                </p>*@
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Date<span style="color:red;">*</span></label>
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control",@placeholder="Date" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="d-block">&nbsp;</label>
                            <input type="submit" class="btn btn-info" name="btnsearch" id="btnsearch" value="Search" onclick="return validateform();" />
                        </div>
                    </div>
                </form>

                <div class="table-responsive mt-3">
                    <table id="example5" class="display table" style="min-width:845px">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Class Name</th>
                                <th>Total Student</th>
                                <th>Paid Student</th>
                                <th>Unpaid Student</th>
                                <th>Registration Amt</th>
                                <th>Admission Fee</th>
                                <th>Tuition Fee</th>
                                <th>Examination Fee</th>
                                <th>Computer Fee</th>
                                <th>Other Fee</th>
                                <th>Total Fee</th>
                                <th>Total Paid</th>
                                <th>Due Amt</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstfeedata != null)
                                {
                                    int i = 1;
                                    foreach (var item in Model.lstfeedata)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.ClassName</td>
                                            <td>@item.TotalStudent</td>
                                            <td>@item.PaidStudent</td>
                                            <td>@item.UnpaidStudent</td>
                                            <td>@item.RegistrationAmt</td>
                                            <td>@item.AdmissionFee</td>
                                            <td>@item.TuitionFee</td>
                                            <td>@item.ExaminationFee</td>
                                            <td>@item.Computerfee</td>
                                            <td>@item.Otherfee</td>
                                            <td>@item.Totalfee</td>
                                            <td>@item.TotalPaid</td>
                                            <td>@item.DueAmt</td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                        <tfoot style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                            <tr>
                                <td></td>
                                <td>Total</td>
                                <td>@ViewBag.TotalStudent</td>
                                <td>@ViewBag.TotalPaidStudent</td>
                                <td>@ViewBag.TotalUnpaidStudent</td>
                                <td>@ViewBag.TotalRegistrationAmt</td>
                                <td>@ViewBag.TotalAdmissionFee</td>
                                <td>@ViewBag.TotalTuitionFee</td>
                                <td>@ViewBag.TotalExaminationFee</td>
                                <td>@ViewBag.TotalComputerfee</td>
                                <td>@ViewBag.TotalOtherfee</td>
                                <td>@ViewBag.TotalTotalfee</td>
                                <td>@ViewBag.TotalTotalPaid </td>
                                <td>@ViewBag.TotalDueAmt</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>


}

<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script src="../../Scripts/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2029'
    });

    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#FromDate').val() == '') {
            $("#FromDate").addClass('errortext');
            $('#FromDate').focus();
            return false;
        }

        return true;
    }
</script>


