@model AfluexSchool.Models.Reports

@{
    ViewBag.Title = "EnquiryReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("EnquiryReport", "AdminReports", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Enquiry Report</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Reports</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Enquiry Report</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["EnquiryReport"]
                </p>
                <div class="table-responsive mt-3">
                    <table id="example5" class="display table" style="min-width:845px">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>ParentName</th>
                                <th>StudentName</th>
                                <th>Class Name</th>
                                <th>Previous School</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Enquiry Date</th>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.listEnquiry != null)
                                {
                                    int i = 1;
                                    foreach (var item in Model.listEnquiry)
                                    {
                                        <tr>
                                            <td>
                                                @i
                                            </td>
                                            <td>@item.ParentName</td>
                                            <td>
                                                @item.StudentName
                                            </td>
                                            <td>
                                                @item.ClassName
                                            </td>
                                            <td>
                                                @item.PreviousSchool
                                            </td>
                                            <td>
                                                @item.Mobile
                                            </td>
                                            <td>
                                                @item.Email
                                            </td>
                                            <td>
                                                @item.Address
                                            </td>
                                            <td>
                                                @item.AddedOn
                                            </td>
                                            <td>
                                                <img src="@item.Image" id="img" height="100" width="100">
                                            </td>
                                            <td>
                                                <a href="/AdminReports/DeleteEnquiry?Pk_EnquiryId=@item.Pk_EnquiryId" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure want to delete?')">Delete</a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
}
