@model AfluexSchool.Models.Reports

@{
    ViewBag.Title = "MultipleStudentReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("MultipleStudentReport", "AdminReports", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Multiple Student For Same Parent Report</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Reports</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Multiple Student For Parents</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                @*<p style="color:red">
                    @TempData["LeaveList"]
                </p>*@
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Parent Name</label>
                            @Html.TextBoxFor(m => m.ParentName, new { @class = "form-control" })
                        </div>
                        <div class="form-group  col-md-3">
                            <label>Login ID</label>
                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="d-block">&nbsp;</label>
                            <input type="submit" class="btn btn-info" name="GetDeatils" id="GetDeatils" value="Search" />
                        </div>
                    </div>
                </form>

                <div class="table-responsive mt-3">
                    <table id="example5" class="display table" style="min-width:845px">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Login ID</th>
                                <th>Name</th>
                                <th>No. Of Students</th>
                                <th>Mobile</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstfeedata != null)
                                {
                                    int i = 1;
                                    foreach (var item in Model.lstfeedata)
                                    {
                                        <tr>
                                            <td>
                                                @i
                                            </td>
                                            <td>
                                                @item.LoginId
                                            </td>
                                            <td>
                                                @item.ParentName
                                            </td>
                                            <td>
                                                @item.ReceiptNo
                                            </td>
                                            <td>
                                                @item.Mobile
                                            </td>
                                            <td>
                                                <a href="/AdminReports/GetMultipleStudentByParent?pkid=@item.pkid" class="btn btn-info btn-sm">View</a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}


<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script src="../../Scripts/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>

    function printData() {
        $('.station-12').hide().next('.separator').hide();
        var divToPrint = document.getElementById("example24");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }


    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2029'
    });

    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2029'
    });


    function OnchangeSection() {
        //$("#divload").css({ 'display': '' });
        var value = $('#Fk_ClassID').val();
        //var values = $('#SectionName').val();
        //alert(value);
        $.ajax({
            url: "/Student/GetSectionByClass",
            Type: "Get",
            DataType: "JSON",
            data: { Fk_ClassID: value },
            success: function (data) {
                //$("#divload").css({ 'display': 'none' });
                $("#Fk_SectionID").html(""); // clear before appending new list
                $("#Fk_SectionID").empty();
                $("#Fk_SectionID").append(
                      $('<option></option>').val(0).html('Select Section'));
                $.each(data.ddlsection, function (index, Sectioncount) {
                    $("#Fk_SectionID").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));

                });

            }
        });

    }


</script>

