@model AfluexSchool.Models.Reports

@{
    ViewBag.Title = "StudentMarksheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("StudentMarksheet", "AdminReports", FormMethod.Post, new { @id = "StudentMarksheet" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Student Marksheet</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Reports</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Student Marksheet</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                @*<p style="color:red">
                    @TempData["LeaveList"]
                </p>*@
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Class</label>
                            @Html.DropDownListFor(m => m.Fk_ClassID, new SelectList(ViewBag.ddlclass, "Value", "Text"), new { @class = "form-control", @onchange = "return OnchangeSection();" })
                        </div>
                        <div class="form-group  col-md-3">
                            <label>Section</label>
                            @Html.DropDownListFor(m => m.Fk_SectionID, new SelectList(ViewBag.ddlsection, "Value", "Text"), new { @class = "form-control", @onchange = "return GetstudentBySection();" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Exam Type</label>
                            @Html.DropDownListFor(m => m.ExamTypeName, new SelectList(ViewBag.ddlExamType, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Student</label>
                            @Html.DropDownListFor(m => m.Pk_StudentID, new SelectList(ViewBag.lstfeedata, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Session</label>
                            @Html.DropDownListFor(m => m.Session, new SelectList(ViewBag.ddlSession, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="d-block">&nbsp;</label>
                            <input type="submit" class="btn btn-primary" value="GetDetails" name="GetDetails" />
                        </div>
                    </div>
                </form>

                <div class="table-responsive mt-3">
                    <table id="example5" class="display table" style="min-width:845px">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>ExamTypeName</th>
                                <th>StudentName</th>
                                <th>ClassName</th>
                                <th>SectionName</th>
                                <th>MaximumMarks</th>
                                <th>ObtainMarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstfeedata != null)
                                {
                                    int i = 1;
                                    foreach (var item in Model.lstfeedata)
                                    {
                                        <tr>
                                            <td>
                                                @i
                                            </td>
                                            <td>@item.ExamTypeName</td>
                                            <td>@item.StudentName</td>
                                            <td>@item.ClassName</td>
                                            <td>@item.SectionName</td>
                                            <td>@item.MaximumMarks</td>
                                            <td>@item.ObtainMarks</td>
                                            <td>
                                                <a href="/AdminReports/PrintMarksheet?Fk_ClassID=@item.Fk_ClassID&Fk_SectionID=@item.Fk_SectionID&Pk_StudentID=@item.Pk_StudentID&Pk_ExamTypeId=@item.pkid" class="btn btn-success btn-sm" target="_blank">Print</a>

                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>

                    </table>

                </div>

            </div>
        </div>
    </div>
    
}



<script>
    function OnchangeSection() {
        var value = $('#Fk_ClassID').val();
        //var values = $('#SectionName').val();
        //alert(value);
        $.ajax({
            url: "/AdminReports/GetSectionByClass",
            Type: "Get",
            DataType: "JSON",
            data: { Fk_ClassID: value },
            success: function (data) {

                $("#Fk_SectionID").html(""); // clear before appending new list
                $("#Fk_SectionID").empty();
                $("#Fk_SectionID").append(
                      $('<option></option>').val(0).html('Select Section'));
                $.each(data.ddlsection, function (index, Sectioncount) {
                    $("#Fk_SectionID").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));

                });


            }
        });

    }
    
</script>