@model AfluexSchool.Models.SendSMS

@{
    ViewBag.Title = "SendSMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fcbdbd !important;
    }
</style>

@using (Html.BeginForm("SendSMS", "SMS", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Send SMS</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">SMS</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Send SMS</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["SMSMsg"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group ">
                                <label>Select Message Template<span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.SMSTemplate, new SelectList(ViewBag.ddlsms, "Value", "Text"), new { @class = "form-control", @onchange = "getsms();" })
                            </div>
                            @Html.TextBoxFor(m => m.MessageCount, new { @class = "form-control", @Placeholder = "MessageCount", @readonly = "readonly" })

                            @Html.TextBoxFor(m => m.TotalSMS, new { @class = "form-control", @Placeholder = "TotalSMS", @readonly = "readonly" })

                            <input type="text" id="SchoolName" class="form-control" value="@ViewBag.SchoolName" readonly="readonly" />
                        </div>
                        <div class="form-group col-md-9">
                            <label>Message<span style="color: red">*</span></label>
                            @Html.TextAreaFor(m => m.SMS, new { @class = "form-control", @Placeholder = "Message", @Rows = "7", @cols = "20", @onkeypress = "return countChar(this)", @onchange = "return countChar(this)" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Select Type<span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.Type, new SelectList(ViewBag.ddltype, "Value", "Text"), new { @class = "form-control", @onchange = "getstudentstaff()" })
                            @Html.HiddenFor(m => m.SMSTemplateText)
                        </div>
                        <div class="form-group col-md-3" id="class" style="display:none">
                            <label>Class</label>
                            @Html.DropDownListFor(m => m.Fk_ClassId, new SelectList(ViewBag.ddlclass, "Value", "Text"), new { @class = "form-control", @onchange = "return OnchangeSection();" })
                        </div>
                        <div class="form-group col-md-3" id="section" style="display:none">
                            <label>Section</label>
                            @Html.DropDownListFor(m => m.Fk_SectionId, new SelectList(ViewBag.ddlsection, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3" id="Staff">
                            <label>Teacher</label>
                            @Html.DropDownListFor(m => m.Fk_StaffId, new SelectList(ViewBag.ddlstaff, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Father Name</label>
                            @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" id="GetDetails" name="GetDetails" value="Get Details" class="btn btn-info" onclick="return fvalidate();" />
                        </div>
                    </div>
                </form>
                @if (Model != null)
                {
                    if (Model.lstsmsdata != null)
                    {
                        int i = 1;
                        <div class="col-md-12 mb-3">
                            <input type="submit" id="SendSMS1" name="SendSMS1" value="Send SMS" class="btn btn-primary" onclick="return fvalidatesave();" />
                        </div>
                                <div class="table-responsive">
                                    <table id="example5" class="display table" style="min-width:845px">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th><input type="checkbox" name="checkedAll" id="checkedAll" style="margin-top:3px;" />&nbsp;&nbsp;Select All</th>
                                                <th>Name</th>
                                                <th>Class</th>
                                                <th>Section</th>
                                                <th>Mobile No</th>
                                                <th>Father Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.lstsmsdata)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>
                                                        <input type="checkbox" class="chkclass" id="chk_@i" name="chk_@i" />
                                                        <input type="hidden" id="Mbile_@i" name="Mbile_@i" value="@item.MobileNo" />
                                                        <input type="hidden" id="Name_@i" name="Name_@i" value="@item.Name" />
                                                    </td>
                                                    <td>
                                                        @item.Name
                                                    </td>
                                                    <td>
                                                        @item.Fk_ClassId
                                                    </td>
                                                    <td>
                                                        @item.Fk_SectionId
                                                    </td>
                                                    <td>
                                                        @item.MobileNo
                                                    </td>
                                                    <td>
                                                        @item.FatherName
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                            <input type="hidden" name="Hdrows" id="Hdrows" value="@i" />

                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <input type="submit" id="SendSMS" name="SendSMS" value="Send SMS" class="btn btn-primary" onclick="return fvalidatesave();" />
                                </div>
                    }
                }
            </div>
        </div>
    </div>

}
<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {

        if ($('#Type').val() == "Staff") {
            $('#class').hide();
            $('#section').hide();
            $('#Staff').show();
        }
        else {
            $('#class').show();
            $('#section').show();
            $('#Staff').hide();
        }
    });
    function getsms() {
        var sms = $('#SMSTemplate').val();
        var smstext = $("#SMSTemplate option:selected").text();
        $('#SMS').val(sms);
        $('#SMSTemplateText').val(smstext);
        countChar();
    }
    function getstudentstaff() {
        if ($('#Type').val() == "Staff") {
            $('#class').hide();
            $('#section').hide();
            $('#Staff').show();
        }
        else {
            $('#class').show();
            $('#section').show();
            $('#Staff').hide();
        }
    }
    function countChar(val) {

        var len = $('#SMS').val().length;
        var schoollen = $('#SchoolName').val().length;
        var ctext = schoollen + len + " Chars";
        //var str = $('#SchoolName').val().length + $('#SMS').val().length;
        var str = $('#SchoolName').val().concat($('#SMS').val());
        var parts = [];
        var partSize = 160;

        while (str) {
            if (str.length < partSize) {
                var rtext = (partSize - str.length) + " Chars Remaining";
                parts.push(str);
                break;
            }
            else {
                parts.push(str.substr(0, partSize));
                str = str.substr(partSize);
            }



        }
        var ptext = parts.length + " SMS";


        $('#MessageCount').val(ctext);

        $('#TotalSMS').val(ptext);


    }
    function fvalidate() {
        $(".errortext").removeClass("errortext");
        if ($('#SMSTemplate').val() == "0") {
            $("#SMSTemplate").addClass('errortext');
            $('#SMSTemplate').focus();
            return false;
        }
        if ($('#Type').val() == "0") {
            $("#Type").addClass('errortext');
            $('#Type').focus();
            return false;
        }
        if ($('#SMS').val() == "") {
            $("#SMS").addClass('errortext');
            $('#SMS').focus();
            return false;
        }
        if ($('#Type').val() == "Staff") {
            $('#class').hide();
            $('#section').hide();
            $('#Staff').show();
        }
        else {
            $('#class').show();
            $('#section').show();
            $('#Staff').hide();
        }


        $("#divload").css({ 'display': '' });
    }

    function fvalidatesave() {
        $(".errortext").removeClass("errortext");
        if ($('#SMSTemplate').val() == "0") {
            $("#SMSTemplate").addClass('errortext');
            $('#SMSTemplate').focus();
            return false;
        }
        if ($('#Type').val() == "0") {
            $("#Type").addClass('errortext');
            $('#Type').focus();
            return false;
        }
        if ($('#SMS').val() == "") {
            $("#SMS").addClass('errortext');
            $('#SMS').focus();
            return false;
        }
        if ($('#Type').val() == "Staff") {
            $('#class').hide();
            $('#section').hide();
            $('#Staff').show();
        }
        else {
            $('#class').show();
            $('#section').show();
            $('#Staff').hide();
        }

        if (($("input[name*='chk_']:checked").length) <= 0) {
            alert("You must check at least 1 Student to send the message");
            return false;
        }
        $("#divload").css({ 'display': '' });
    }
    $('#checkedAll').click(function () {
        if ($(this).prop("checked")) {
            //$('input:checkbox[name=checkBoxId_]').attr('checked', true);
            $('.chkclass').prop("checked", true);
        } else {
            //$('input:checkbox[name=checkBoxId_]').attr('checked', false);
            $('.chkclass').prop("checked", false);
        }
    });
    function OnchangeSection() {
        var value = $('#Fk_ClassId').val();
        //var values = $('#SectionName').val();
        //alert(value);
        $.ajax({
            url: "/SMS/GetSectionByClass",
            Type: "Get",
            DataType: "JSON",
            data: { Fk_ClassID: value },
            success: function (data) {

                $("#Fk_SectionId").html(""); // clear before appending new list
                $("#Fk_SectionId").empty();
                $("#Fk_SectionId").append(
                      $('<option></option>').val(0).html('Select Section'));
                $.each(data.ddlsection, function (index, Sectioncount) {
                    $("#Fk_SectionId").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));

                });


            }
        });

    }
</script>