@model AfluexSchool.Models.Student

@{
    ViewBag.Title = "HomeworkList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("HomeworkList", "Student", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Homework List</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Student</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Student Homework List</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                   @TempData["HomeworkList"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>From Date</label>
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", placeholder = "From Date", @ReadOnly = "ReadOnly" })
                        </div>
                        <div class="form-group  col-md-3">
                            <label>To Date</label>
                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", placeholder = "To Date", @ReadOnly = "ReadOnly" })
                        </div>
                        <div class="form-group col-md-2">
                            <label class="d-block">&nbsp;</label>
                            <input type="submit" value="Search" name="btnSearch" id="btnSearch" class="btn btn-primary" />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="d-block">&nbsp;</label>
                            <a href="/Export/ExportToExcel?id=pdf&&PageName=HomeworkList"><img src="../../AdminPanelcss/assets/img/pdf.png" style="width:40px;height:40px" title="Export To PDF" /></a>
                            <a href="/Export/ExportToExcel?id=excel&&PageName=HomeworkList"><img src="../../AdminPanelcss/assets/img/excel.jpg" style="width:40px;height:40px" title="Export To Excel" /></a>
                            <a href="/Export/ExportToExcel?id=word&&PageName=HomeworkList"><img src="../../AdminPanelcss/assets/img/Word.png" style="width:40px;height:40px" title="Export To Word" /></a>
                            <a href="#" onclick="return printData();"><img src="../../AdminPanelcss/assets/img/print.jpg" style="width:40px;height:40px" title="Print" /></a>

                        </div>
                    </div>
                </form>

                <div class="table-responsive mt-3">
                    <table id="example5" class="display table" style="min-width:845px">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Homework Date</th>
                                <th>Class</th>
                                <th>Section</th>
                                <th>Subject</th>
                                <th>Homework By</th>
                                <th>Text</th>
                                <th>Photo</th>
                                <th style="display:@ViewBag.IsDelete;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.listStudent != null)
                                {
                                    int i = 1;
                                    foreach (var item in Model.listStudent)
                                    {
                                        <tr>
                                            <td>
                                                @i
                                            </td>
                                            <td>@item.HomeworkDate</td>
                                            <td>
                                                @item.ClassName
                                            </td>
                                            <td>
                                                @item.SectionName
                                            </td>
                                            <td>
                                                @item.SubjectID
                                            </td>
                                            <td>
                                                @item.HomeworkBy
                                            </td>
                                            <td>@(new HtmlString(item.HomeWorkHTML))</td>
                                            <td><a href="@item.StudentPhoto" target="_blank"><img src="@item.StudentPhoto" style="height:50px;width:50px;" />  </a>    </td>
                                            <td style="display:@ViewBag.IsDelete;">

                                                <a href="/Student/DeleteHomework?HomeWorkID=@item.HomeWorkID" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure want to delete?')">Delete</a>
                                                @*  <a href="/Parent/PrintReceipt?Pk_ParentID=@item.Pk_ParentID" class="btn btn-primary btn-sm" target="_blank"> Receipt</a>*@
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
    
}

<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>
    function printData() {

        var divToPrint = document.getElementById("example24");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });


    });

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });

    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    }
);


</script>

