@model AfluexSchool.Models.Student

@{
    ViewBag.Title = "StudentAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("StudentAttendance", "Student", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Student Attendance</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Student</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Student Attendance</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["StudentAttendance"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Class<span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.Fk_ClassID, new SelectList(ViewBag.ddlclass, "Value", "Text"), new { @class = "form-control", @onchange = "return OnchangeSection();" })
                        </div>
                        <div class="form-group  col-md-3">
                            <label>Section<span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.Fk_SectionID, new SelectList(ViewBag.ddlsection, "Value", "Text"), new { @class = "form-control", @onchange = "return onDDLchange()" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Attendance Date<span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.AttendanceDate, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="d-block">&nbsp;</label>
                            <input class="btn btn-primary" type="submit" name="btndetail" onclick="return validateform()" value="Get Detail" id="btndetail" />
                        </div>
                    </div>
                </form>

               @if (Model != null)
               {
                   if (Model.listStudent != null)
                   {
                       int i = 1;
                    
                        <div class="mt-3">
                            <div class="table-responsive">
                                <table id="example5" class="display table" style="min-width:845px">
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>StudentName</th>
                                            <th>LoginID</th>
                                            <th>Mobile</th>
                                            <th>Medium</th>
                                            <th><input type="checkbox" name="checkedAll" id="checkedAll" style="margin-top:3px;" />&nbsp;&nbsp;Select All</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.listStudent)
                                        {
                                            <tr>
                                                <td>
                                                    @i
                                                </td>
                                                <td>
                                                    @item.DisplayName
                                                </td>
                                                <td>
                                                    @item.LoginID
                                                </td>
                                                <td>
                                                    @item.Mobile
                                                </td>
                                                <td>
                                                    @item.Medium
                                                </td>
                                                <td>
                                                    <input type="hidden" name="hdClassID_ @i" id="hdClassID_ @i" value="@item.Fk_ClassID" />
                                                    <input type="hidden" name="hdSectionID_ @i" id="hdSectionID_ @i" value="@item.Fk_SectionID" />
                                                    <input type="hidden" name="hdStudentID_ @i" id="hdStudentID_ @i" value="@item.Pk_StudentID" />
                                                    <input type="hidden" name="hdMobile_ @i" id="hdMobile_ @i" value="@item.Mobile" />
                                                    <input type="hidden" name="hdStudentName_ @i" id="hdStudentName_ @i" value="@item.DisplayName" />
                                                    @if (item.Status != "P")
                                                    {
                                                        <input type="checkbox" id="chkSelect_ @i" name="chkSelect_ @i" class="chkclass" />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" checked="checked" name="chkSelect_ @i" id="chkSelect_ @i" disabled="disabled" />
                                                    }
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                        <input type="hidden" id="hdRows" name="hdRows" value="@i" />

                                    </tbody>
                                </table>
                            </div>
                        </div>
                   
                    <div class="col-md-12 mt-3">
                            <input class="btn btn-success" type="submit" onclick="return validateform();" name="btnsave" value="Save & Send SMS" id="btnSave" />
                    </div>
                   }
               }

            </div>
        </div>
    </div>
    

}
<script src="../../scripts/jquery-1.10.2.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });

    });
    $('#checkedAll').click(function () {
        if ($(this).prop("checked")) {
            //$('input:checkbox[name=checkBoxId_]').attr('checked', true);
            $('.chkclass').prop("checked", true);
        } else {
            //$('input:checkbox[name=checkBoxId_]').attr('checked', false);
            $('.chkclass').prop("checked", false);
        }
    });
    function OnchangeSection() {
        var value = $('#Fk_ClassID').val();
        $.ajax({
            url: "/Student/GetSectionByClass",
            Type: "Get",
            DataType: "JSON",
            data: { Fk_ClassID: value },
            success: function (data) {

                $("#Fk_SectionID").html("");
                $("#Fk_SectionID").empty();
                $("#Fk_SectionID").append(
                      $('<option></option>').val(0).html('--Select Section--'));
                $.each(data.ddlsection, function (index, Sectioncount) {
                    $("#Fk_SectionID").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));

                });


            }
        });

    }
    function validateform() {
        $(".errortext").removeClass("errortext");

        if ($('#Fk_ClassID').val() == '0') {
            $("#Fk_ClassID").addClass('errortext');
            $('#Fk_ClassID').focus();
            return false;
        }

        if ($('#Fk_SectionID').val() == '0') {
            $("#Fk_SectionID").addClass('errortext');
            $('#Fk_SectionID').focus();
            return false;
        }

        if ($('#AttendanceDate').val() == '') {
            $("#AttendanceDate").addClass('errortext');
            $('#AttendanceDate').focus();
            return false;
        }

        return true;
    }

    $('#AttendanceDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        minDate: '+0d',
        maxDate: '-0d'

    });

</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

