@model AfluexSchool.Models.Hostel

@{
    ViewBag.Title = "BedCapacity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .errortext{
        border:1px solid red!important;
        background-color:#feb2b2!important;
    }
</style>

 @using (Html.BeginForm("BedCapacity", "Hostel", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
 {
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Hostel Room Bed Capacity</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Leave</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Bed Capacity</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["BedCapacity"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Hostel Type<span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.Pk_HostelTypeId, new SelectList(ViewBag.ddlHostel, "Value", "Text"), new { @class = "form-control", @onchange = "return OnHostelTypeChange();" })
                        </div>
                        <div class="form-group col-md-4">
                            <label>Hostel Name<span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.Pk_HostelId, new SelectList(ViewBag.ddlHostelName, "Value", "Text"), new { @class = "form-control", @onchange = "return OnHostelNameChange()" })
                        </div>
                        <div class="form-group col-md-4">
                            <label>Hostel Floor<span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.Pk_HostelFloorId, new SelectList(ViewBag.ddlHostelFloor, "Value", "Text"), new { @class = "form-control", @onchange = "return OnHostelFloorChange()" })
                        </div>
                        <div class="form-group col-md-4">
                            <label>Room<span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.Pk_HostelRoomId, new SelectList(ViewBag.ddlHostelroom, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            <label>No. Of Beds<span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.BedCapacity, new { @class = "form-control", @placeholder = "Enter Bed Capacity", @onkeypress = "return validNumber(event)", @maxlength = "2" })
                            @Html.HiddenFor(m => m.Pk_BedId)
                        </div>
                        <div class="form-group col-md-6">
                            
                            @if (Model.Pk_BedId == null)
                            {
                                <input type="submit" class="btn btn-success" onclick="return validateform();" name="btnSave" id="btnSave" value="Save" />

                            }
                            else
                            {
                                <input type="submit" class="btn btn-success" onclick="return validateform();" name="btnUpdate" id="btnUpdate" value="Update" />
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
 }

<script>
    function OnHostelTypeChange() {
        var value = $('#Pk_HostelTypeId').val();
        $.ajax({
            url: "/Hostel/GetHostelNameByHostelType",
            Type: "Get",
            DataType: "JSON",
            data: { Pk_HostelTypeId: value },
            success: function (data) {

                $("#Pk_HostelId").html("");
                $("#Pk_HostelId").empty();
                $("#Pk_HostelId").append(
                      $('<option></option>').val(0).html('--Select Hostel--'));
                $.each(data.lstHostelName, function (index, Sectioncount) {
                    $("#Pk_HostelId").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));

                });
            }
        });
    }
    function OnHostelNameChange() {
        var value = $('#Pk_HostelTypeId').val();
        var values = $('#Pk_HostelId').val();
        $.ajax({
            url: "/Hostel/GetFloorNameByHostelName",
            Type: "Get",
            DataType: "JSON",
            data: { Pk_HostelTypeId: value, Pk_HostelId :values},
            success: function (data) {

                $("#Pk_HostelFloorId").html("");
                $("#Pk_HostelFloorId").empty();
                $("#Pk_HostelFloorId").append(
                      $('<option></option>').val(0).html('--Select Floor--'));
                $.each(data.lstFloor, function (index, Sectioncount) {
                    $("#Pk_HostelFloorId").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));

                });
            }
        });
    }
    function OnHostelFloorChange() {
        var value = $('#Pk_HostelFloorId').val();
       
        $.ajax({
            url: "/Hostel/RoomNumberByFloor",
            Type: "Get",
            DataType: "JSON",
            data: { Pk_HostelFloorId: value  },
            success: function (data) {

                $("#Pk_HostelRoomId").html("");
                $("#Pk_HostelRoomId").empty();
                $("#Pk_HostelRoomId").append(
                      $('<option></option>').val(0).html('--Select Room--'));
                $.each(data.ddlHostelRoom, function (index, Sectioncount) {
                    $("#Pk_HostelRoomId").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));

                });
            }
        });

    }
    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#Pk_HostelTypeId').val() == '0') {
            $("#Pk_HostelTypeId").addClass('errortext');
            $('#Pk_HostelTypeId').focus();
            return false;
        }
        if ($('#Pk_HostelId').val() == '0') {
            $("#Pk_HostelId").addClass('errortext');
            $('#Pk_HostelId').focus();
            return false;
        }
       
        if ($('#Pk_HostelFloorId').val() == '0') {
            $("#Pk_HostelFloorId").addClass('errortext');
            $('#Pk_HostelFloorId').focus();
            return false;
        }
        if ($('#Pk_HostelRoomId').val() == '0') {
            $("#Pk_HostelRoomId").addClass('errortext');
            $('#Pk_HostelRoomId').focus();
            return false;
        }
        if ($('#BedCapacity').val() == '') {
            $("#BedCapacity").addClass('errortext');
            $('#BedCapacity').focus();
            return false;
        }
        return true;
    }

    function validNumber(event) {
        var key = window.event ? event.keyCode : event.which;
        if (event.keyCode === 8 || event.keyCode === 45) {
            return true;
        } else if (key < 48 || key > 57) {
            return false;
        } else {
            return true;
        }
    }

</script>


