@model AfluexSchool.Models.Fee

@{
    ViewBag.Title = "Fees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Fees", "Fee", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-xxl-12 col-md-12">
                <div class="card shadow">
                    <div class="card-header">
                        <h4 class="card-title font-weight-bold">FeeReport</h4>
                        <p style="color:red">
                            @TempData["FeeReport"]
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label>  Name/Login Id <span style="color: red">*</span></label>
                                        @Html.TextBoxFor(m => m.IDLoginId, new { @class = "form-control", @placeholder = "Student Name/Login Id", onchange = "return concatenatemonthid(this,'0');" })
                                        @Html.HiddenFor(m => m.MonthId)
                                        @Html.HiddenFor(m => m.LoginId)
                                    </div>
                                    <div class="form-group col-md-9">
                                        <label class="d-lg-block d-none">&nbsp;</label>    
                                        <div id="dvchkbox"></div>
                                    </div>
                                </div>
                                <div class="form-row" id="studentbasic" style="display:none">
                                    <div class="form-group col-md-3">
                                        <label>Branch</label>
                                        @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control", @readonly = "gf" })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Registration No </label>
                                        @Html.TextBoxFor(m => m.RegistrationNo, new { @class = "form-control", @readonly = "gf" })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>  Student Id</label>
                                        @Html.TextBoxFor(m => m.LOGID, new { @class = "form-control", @readonly = "gf" })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>  Student Name</label>
                                        @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", @readonly = "gf" })
                                    </div>
                                </div>
                                <div class="form-row" id="studentparent" style="display:none">
                                    <div class="form-group col-md-3">
                                        <label>  Parent Id </label>
                                        @Html.TextBoxFor(m => m.ParentLoginId, new { @class = "form-control", @readonly = "gf" })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>  Parent Name</label>
                                       @Html.TextBoxFor(m => m.ParentName, new { @class = "form-control", @readonly = "gf" })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>  Parent Mobile </label>
                                        @Html.TextBoxFor(m => m.ParentMobile, new { @class = "form-control", @readonly = "gf" })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>  Parent EmailId</label>
                                       @Html.TextBoxFor(m => m.ParenteEmailId, new { @class = "form-control", @readonly = "gf" })
                                    </div>
                                </div>
                                <div class="form-row" id="studentclass" style="display:none">
                                    <div class="form-group col-md-3">
                                        <label>  Class</label>
                                        @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control", @readonly = "gf" })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>  Section</label>
                                        @Html.TextBoxFor(m => m.SectionName, new { @class = "form-control", @readonly = "gf" })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>  Medium</label>
                                        @Html.TextBoxFor(m => m.Medium, new { @class = "form-control", @readonly = "gf" })
                                        @Html.HiddenFor(m => m.DueDate)
                                        @Html.HiddenFor(m => m.InstallemntNo)
                                        @Html.HiddenFor(m => m.InstallmentAmt)

                                        @Html.HiddenFor(m => m.AmountWithoutFine)
                                    </div>
                                    @*<div class="form-group  col-md-3">
                                        <label class="d-lg-block d-none">&nbsp;</label>
                                        <input type="submit" class="btn btn-info" name="Search" id="btnsearch" value="Search" />
                                    </div>*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" id="tb" style="display:none">
                <div class="row">
                       <div class="col-lg-9">
                           <div class="card shadow">
                               <div class="card-body">
                                   <div class="table-responsive">

                                       <table id="example5" class="table display table-bordered">
                                           <thead>
                                               <tr>
                                                   <th>Sr No.</th>
                                                   <th>FeeType</th>

                                                   <th>DueDate</th>
                                                   <th>InstallmentAmt</th>

                                               </tr>
                                           </thead>

                                       </table>
                                       <div class="card-header my-3">
                                                <h4 class="card-title font-weight-bold">Consession</h4>
                                        </div>
                                       <table id="example5" class="table display table-bordered">
                                           <thead>
                                               <tr>
                                                   <th>Sr No.</th>
                                                   <th>FeeType</th>

                                                   <th>Month</th>
                                                   <th>Consession</th>

                                               </tr>
                                           </thead>

                                       </table>

                                   </div>
                               </div>
                           </div>
                       </div>
                    <div class="col-lg-3">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Payment Date <span style="color:red">*</span></label>
                                        @Html.TextBoxFor(m => m.PaymentDate, new { @class = "form-control", @readonly = "gf" })
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        Previous Balance<span style="color: red">*</span>
                                        @Html.TextBoxFor(m => m.PreviousBalance, new { @class = "form-control", @maxlength = "100", @readonly = "gf", @Placeholder = "Previous Balance" })
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        Late Fee<span style="color: red">*</span>
                                        @Html.TextBoxFor(m => m.LateFee, new { @class = "form-control", @maxlength = "100", @readonly = "gf", @Placeholder = "Late Fee", @onchange = "return getamount();" })
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        Total Fee<span style="color: red">*</span>
                                        @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control", @maxlength = "100", @Placeholder = "Total Fee", @readonly = "fsdf" })
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        Consession Fee<span style="color: red">*</span>
                                        @Html.TextBoxFor(m => m.ConsessionFee, new { @class = "form-control", @maxlength = "100", @Placeholder = "Consession Fee", @readonly = "fsdf" })
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        Apply Discount
                                        <input type="checkbox" id="chkdiscount" onchange="openpop();" />
                                        @*@Html.TextBoxFor(m => m.Discount, new { @class = "form-control", @maxlength = "100", @Placeholder = "Discount", @onchange = "return getpaidamount();" ,onkeypress= "return isNumberKey(event)" })*@
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        Paid Amount<span style="color: red">*</span>
                                        @Html.TextBoxFor(m => m.PaidAmount, new { @class = "form-control", @maxlength = "100", @Placeholder = "Paid Amount", onkeypress = "return isNumberKey(event)" })
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Payment Mode <span style="color:red">*</span></label>


                                        @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlpaymentmode, "Value", "Text"), new { @class = "form-control", @onchange = "getpaymentdetails();" })

                                        @Html.HiddenFor(m => m.PK_ClassID)
                                        @Html.HiddenFor(m => m.discountflag)

                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12" id="divtransactiono" style="display: none">
                                    <div class="form-group">
                                        <span id="txnNo"></span> <span style="color: red">*</span>
                                        @Html.TextBoxFor(m => m.TransactionNumber, new { @class = "form-control", @Placeholder = "Mobile Number", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12" id="divPaymentMode" style="display: none">
                                    <div class="form-group">
                                        <span id="txndt"></span><span style="color: red">*</span>
                                        @Html.TextBoxFor(m => m.TransactionDate, new { @class = "form-control", @Placeholder = "Date", @Readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12" id="divbankname" style="display: none">
                                    <div class="form-group">
                                        Bank Name <span style="color: red">*</span>
                                        @Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @maxlength = "100", @Placeholder = "Bank Name" })
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12" id="divbankbranch" style="display: none">
                                    <div class="form-group">
                                        Bank Branch <span style="color: red">*</span>
                                        @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control", @maxlength = "100", @Placeholder = "Bank Branch" })
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <br />
                                    <input type="submit" class="btn btn-success btn-sm" onclick="return validatesaveform();" name="btnSave" id="btnSave" value="Save" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            Discount
                            @Html.TextBoxFor(m => m.Discount, new { @class = "form-control", @Placeholder = "Discount", onkeypress = "return isNumberKey(event);" })
                        </div>
                        <div class="col-md-6">
                            Transaction Password
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @Placeholder = "Transaction Password" })
                        </div>
                    </div>



                    <div class="row">


                        <div class="col-md-6">
                            <br />
                            <a href="#" class="btn btn-success btn-sm" onclick="checkadminpass();">Apply Discount</a>
                        </div>

                    </div>



                </div>

            </div>

        </div>
    </div>
}
<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
   // $(document).ready(function () {
   //     $("input").attr("autocomplete", "off");
   // }
   //);
   


    function openpop() {
        if ($('#chkdiscount').prop("checked") == false) {
            $('#Discount').val('0');
            var paidamount = (Number($('#TotalAmount').val())) - Number($('#ConsessionFee').val());
            $('#PaidAmount').val(paidamount);
            $("#myModal").modal('hide');
            return true;
        }
        else {
            $("#myModal").modal('show');
        }

    }
    function checkadminpass() {
        $(".errortext").removeClass("errortext");


        if ($('#Discount').val() == '') {
            $("#Discount").addClass('errortext');
            $('#Discount').focus();
            return false;
        }
        if (Number($('#Discount').val()) > Number($('#PaidAmount').val())) {
            $('#Discount').val('0');
            $("#Discount").addClass('errortext');
            $('#Discount').focus();
            $("#discountflag").val("0");
            alert('Discount Amount should be less than Paid Amount');
            return false;
        }
        $("#loader").css({ 'display': '' });
        $.ajax({
            url: '/Fee/CheckPassword', type: 'post', dataType: 'json',
            data: { 'Password': $("#Password").val() },
            success: function (data) {
                if (data.Result == "1") {

                    alert('Discout Applied');
                    var paidamount = (Number($('#TotalAmount').val()) - Number($('#Discount').val())) - Number($('#ConsessionFee').val());
                    $('#PaidAmount').val(paidamount);
                    $("#myModal").modal('hide');
                    $("#loader").css({ 'display': 'none' });
                    $("#discountflag").val("1");

                }
                else {
                    alert('Invalid Password');
                    $("#loader").css({ 'display': 'none' });
                    $("#discountflag").val("0");
                }

            }
        });
    }

    $(document).ready(function () {
        $("input").attr("autocomplete", "off");
      
        var cityuse = [];
        $("#loader").css({ 'display': '' });
        $.ajax({
            url: '/Fee/GetStudentList',
            type: 'Post',
            success: function (response) {
                if (response != null) {

                    //alert("Respose is not null");
                    $(response).each(function (index, item) {
                        cityuse.push(item.studentName + "(" + item.LoginID + ")");
                    });

                    $('#IDLoginId').autocomplete({
                        source: cityuse,
                        select: function (event, ui) {
                            var str = ui.item.label;
                            //var afterComma = str.substr(str.indexOf("(") + 1);
                            //var citycode = afterComma.substr(0, afterComma.length - 1);
                            var strsplit = str.split("(");

                            $('#LoginId').val(strsplit[1].substr(0, strsplit[1].length - 1));
                            $("#loader").css({ 'display': 'none' });
                            //alert("Search Query : " + strsplit[0] + "; Search Type : " + strsplit[1].substr(0, strsplit[1].length - 1));
                        }
                    })
                }
                else {
                    //alert("Respose is null");
                }
            }, error: function () {
                alert('Some Thing wrong!');
                $("#loader").css({ 'display': 'none' });
            }
        });
    });
    $('#TransactionDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,


    });
    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }

        $("#loader").css({ 'display': '' });
        return true;
    }
    function getpaymentdetails() {
        if ($('#PaymentMode').val() == '2') {
            $('#txnNo').html('Cheque No.');
            $('#txndt').html('Cheque Date');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#TransactionNumber").attr("placeholder", "Cheque No.");
            $("#TransactionDate").attr("placeholder", "Cheque Date");
        }
        else if ($('#PaymentMode').val() == '3') {
            $('#txndt').html('NEFT Date');
            $('#txnNo').text('NEFT No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#TransactionNumber").attr("placeholder", "NEFT No.");
            $("#TransactionDate").attr("placeholder", "NEFT Date");
        }
        else if ($('#PaymentMode').val() == '4') {
            $('#txndt').html('DD Date');
            $('#txnNo').text('DD No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#TransactionNumber").attr("placeholder", "DD No.");
            $("#TransactionDate").attr("placeholder", "DD Date");
        }
        else if ($('#PaymentMode').val() == '5') {
            $('#txndt').html('RTGS Date');
            $('#txnNo').text('RTGS No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#TransactionNumber").attr("placeholder", "RTGS No.");
            $("#TransactionDate").attr("placeholder", "RTGS Date");
        }
        else if ($('#PaymentMode').val() == '7') {

            $('#txnNo').text('Mobile No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No.");
        }
        else if ($('#PaymentMode').val() == '8') {

            $('#txnNo').text('Mobile No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No.");
        }
        else if ($('#PaymentMode').val() == '9') {

            $('#txnNo').text('Mobile No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No.");
        }
        else if ($('#PaymentMode').val() == '10') {

            $('#txnNo').text('Mobile No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No.");
        }
        else {
            $("#divPaymentMode").hide();
            $("#divtransactiono").hide();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
        }
    }
    function validatesaveform() {
        $(".errortext").removeClass("errortext");
        if (($('#LoginId').val() == '') && ($("#IDLoginId").val()=="")) {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }
        if ($('#PaymentDate').val() == '') {
            $("#PaymentDate").addClass('errortext');
            $('#PaymentDate').focus();
            return false;
        }
        if ($('#PaymentMode').val() == '0') {
            $("#PaymentMode").addClass('errortext');
            $('#PaymentMode').focus();
            return false;
        }
        if ($('#PaidAmount').val() == '0') {
            $("#PaidAmount").addClass('errortext');
            $('#PaidAmount').focus();
            return false;
        }
        if ($('#PaidAmount').val() == '') {
            $("#PaidAmount").addClass('errortext');
            $('#PaidAmount').focus();
            return false;
        }
        if ($('#PaymentMode').val() != '1') {
            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        var a = confirm("Are you sure you want to submit fee ?")
        if (a == false) {
            return false
        }
        else {
            $("#loader").css({ 'display': '' });
            return true
        }
        $("#loader").css({ 'display': '' });
    }



    function concatenatemonthid(textboxvalue, monthid) {
        var status = "";

        if (monthid != "0")
        {

            if ($('.' + 'txtintime' + textboxvalue).prop("checked") == true) {
                status = "checked";
            }
            else {
                status = "unchecked";
            }
        }

        $("#loader").css({ 'display': '' });
        var tr = [];
        var tr1 = [];
        var trchk = [];
        $.ajax({
            url: '/Fee/ConcatenateMonth', type: 'post', dataType: 'json',
            data: { 'monthid': monthid, LoginID: $("#LoginId").val(), Login: $("#IDLoginId").val(), CheckboxStatus: status },
            success: function (data) {
                var k = 1;
                if (data.Result == "2") {
                    alert(data.ErrorMessage);
                    $('#studentbasic').hide();
                    $('#studentparent').hide();
                    $('#studentclass').hide();
                    $('#tblinst').empty();
                    $('#tblstconsession').empty();
                    $('#tb').hide();
                    $('#dvchkbox').hide();
                    $('#LoginId').val('');
                    $('#IDLoginId').val('');
                    $("#loader").css({ 'display': 'none' });
                    return false;
                }
                if (data.Result == "3") {

                    alert(data.ErrorMessage);

                    $('.' + 'txtintime' + textboxvalue).prop('checked', false);
                    $("#loader").css({ 'display': 'none' });
                    return false;
                }
                if (data.Result == "4") {

                    alert(data.ErrorMessage);
                    $('.' + 'txtintime' + textboxvalue).prop('checked', true);

                    $("#loader").css({ 'display': 'none' });
                    return false;
                }
                $('#MonthId').val(data.MonthId);
                $("#divload").css({ 'display': 'none' });
                if (data.lstpaidfee.length != null) {
                    $('#dvchkbox').empty();
                    trchk.push('<p>');
                    for (var p = 0; p < data.lstpaidfee.length; p++) {

                        $('#dvchkbox').empty();

                        if (data.lstpaidfee[p].IsPaid == "True") {
                            trchk.push("<p style='background:red;height:14px'><input disabled='disabled' style='color:red;' type='checkbox' value='" + data.lstpaidfee[p].IsPaid + "' id='txtintime " + p + "'name='txtintime " + p + "'  onchange='concatenatemonthid(" + data.lstpaidfee[p].MonthId + ")'/></p>");
                        }
                        else {
                            trchk.push("<input class='txtintime" + p + "'  type='checkbox' " + data.lstpaidfee[p].IsTickTrue + " value='" + data.lstpaidfee[p].IsPaid + "' id='txtintime " + p + "'name='txtintime1" + p + "'  onchange='concatenatemonthid(" + p + "," + data.lstpaidfee[p].MonthId + ")'/>");
                        }
                        trchk.push("&nbsp;");
                        trchk.push("<b>" + data.lstpaidfee[p].MonthName + "</b>");
                        trchk.push("&nbsp;");
                        $('#dvchkbox').append($(trchk.join('')));
                        $('#dvchkbox').show();
                    }
                    trchk.push('</p>');

                    $("#loader").css({ 'display': 'none' });
                }

                if (data.Result == "0") {
                    $("#loader").css({ 'display': 'none' });

                }
                else if (data.Result == "1") {
                    $('#BranchName').val(data.BranchName);
                    $('#RegistrationNo').val(data.RegistrationNo);
                    $('#LOGID').val(data.LoginId);
                    $('#DisplayName').val(data.DisplayName);
                    $('#ParentLoginId').val(data.ParentLoginId);
                    $('#ParentName').val(data.ParentName);
                    $('#ParentMobile').val(data.ParentMobile);
                    $('#ParenteEmailId').val(data.ParenteEmailId);
                    $('#ClassName').val(data.ClassName);
                    $('#SectionName').val(data.SectionName);
                    $('#Medium').val(data.Medium);
                    $('#PaymentDate').val(data.PaymentDate);
                    $('#Discount').val(data.Discount);
                    $('#LateFee').val(data.LateFee);
                    $('#PaidAmount').val(data.PaidAmount);
                    $('#TotalAmount').val(data.TotalAmount);
                    $('#PreviousBalance').val(data.PreviousBalance);
                    $('#ConsessionFee').val(data.ConsessionFee);

                    var j = 1;
                    $('#studentbasic').show();
                    $('#studentparent').show();
                    $('#studentclass').show();
                    $('#tblinst').empty();
                    $('#tblstconsession').empty();
                    $('#tb').hide();
                    if (data.detail == "1") {
                        if (data.lstfeesdetails.length != null) {
                            $('#tblinst').empty();
                            for (var i = 0; i < data.lstfeesdetails.length; i++) {
                                $('#tblinst').empty();

                                tr.push('<tr>');
                                tr.push("<td>" + j + "</td>");
                                // tr.push("<td>" + data.lstList[i].EmployeeLoginId + "</td>");


                                tr.push("<td>" + data.lstfeesdetails[i].FeeTypeName + "</td>");
                                tr.push("<td>" + data.lstfeesdetails[i].DueDate + "</td>");
                                tr.push("<td>" + data.lstfeesdetails[i].InstallmentAmt + "</td>");

                                tr.push('</tr>');
                                j++;

                                tr.push('<tr style="display:none">');

                                tr.push('</tr>');
                                $('#tblinst').append($(tr.join('')));

                                $('#studentbasic').show();
                                $('#studentparent').show();
                                $('#studentclass').show();
                                $('#tb').show();


                            }
                        }

                        if (data.lstconsession.length != null) {

                            $('#tblstconsession').empty();
                            for (var i = 0; i < data.lstconsession.length; i++) {
                                $('#tblstconsession').empty();

                                tr1.push('<tr>');
                                tr1.push("<td>" + k + "</td>");
                                // tr.push("<td>" + data.lstList[i].EmployeeLoginId + "</td>");


                                tr1.push("<td>" + data.lstconsession[i].FeeTypeName + "</td>");
                                tr1.push("<td>" + data.lstconsession[i].MonthName + "</td>");
                                tr1.push("<td>" + data.lstconsession[i].InstallmentAmt + "</td>");
                                tr1.push("<td style='display:none'><input type='hidden' value='" + data.lstconsession[i].PK_FeeTypeID + "' id='PK_FeeTypeID " + i + "' name='PK_FeeTypeID " + i + "'></td>");
                                tr1.push("<td style='display:none'><input type='hidden' value='" + data.lstconsession[i].InstallmentAmt + "' id='InstallmentAmt " + i + "' name='InstallmentAmt " + i + "'></td>");
                                tr1.push("<td style='display:none'><input type='hidden' value='" + data.lstconsession[i].MonthId + "' id='MonthId " + i + "' name='MonthId " + i + "'></td>");
                                tr1.push('</tr>');
                                k++;




                            }
                            tr1.push('<tr style="display:none">');
                            tr1.push("<td><input type='hidden' value='" + k + "' id='hdrows' name='hdrows'></td>");
                            tr1.push('</tr>');
                            $('#tblstconsession').append($(tr1.join('')));

                            $('#studentbasic').show();
                            $('#studentparent').show();
                            $('#studentclass').show();
                            $('#tb').show();
                        }
                    }
                    $("#loader").css({ 'display': 'none' });
                }
                else {
                    alert(data.Result);
                    $('#studentbasic').hide();
                    $('#studentparent').hide();
                    $('#studentclass').hide();
                    $('#tblinst').empty();
                    $('#tblstconsession').empty();
                    $('#tb').hide();
                    $('#dvchkbox').hide();
                    $("#loader").css({ 'display': 'none' });
                }
                if (monthid == "-1") {
                    if ($('.' + 'txtintime' + textboxvalue).prop("checked") == true) {
                        $('.txtintime1').attr("disabled", "disabled");
                        $('.txtintime2').attr("disabled", "disabled");
                        $('.txtintime3').attr("disabled", "disabled");
                        $('.txtintime4').attr("disabled", "disabled");
                        $('.txtintime5').attr("disabled", "disabled");
                        $('.txtintime6').attr("disabled", "disabled");
                        $('.txtintime7').attr("disabled", "disabled");
                        $('.txtintime8').attr("disabled", "disabled");
                        $('.txtintime9').attr("disabled", "disabled");
                        $('.txtintime10').attr("disabled", "disabled");
                        $('.txtintime11').attr("disabled", "disabled");
                        $('.txtintime12').attr("disabled", "disabled");
                    }
                    else {
                        $('.txtintime1').attr("disabled",false );
                        $('.txtintime2').attr("disabled",false );
                        $('.txtintime3').attr("disabled",false );
                        $('.txtintime4').attr("disabled",false );
                        $('.txtintime5').attr("disabled",false );
                        $('.txtintime6').attr("disabled",false );
                        $('.txtintime7').attr("disabled",false );
                        $('.txtintime8').attr("disabled",false );
                        $('.txtintime9').attr("disabled",false );
                        $('.txtintime10').attr("disabled",false);
                        $('.txtintime11').attr("disabled",false);
                        $('.txtintime12').attr("disabled", false);
                    }
                }
                $("#loader").css({ 'display': 'none' });

            }

        }

        );
    }
    function getpaidamount() {


        var paidamount = (Number($('#TotalAmount').val()) - Number($('#Discount').val())) - Number($('#ConsessionFee').val());
        $('#PaidAmount').val(paidamount);
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>