@model AfluexSchool.Models.Teacher

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_TeacherLayout .cshtml";
}

@using (Html.BeginForm("EditProfile", "TeacherLogin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div>
          <div class="login-row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 mx-auto align-self-center">
                <div class="card border-0 shadow-sm mb-4">
                    <div class="card-header">
                        <div class="row ">

                            <div class="col-auto">
                                <h4 class="mt-0 mb-1">Edit Profile</h4>

                            </div>
                            <p style="color:red">
                                @TempData["TeacherEditProfile"]
                            </p>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="row justify-content-center">
                            <div class="col-md-12 mx-auto">
                                <div class="row ">
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Branch  <span style="color: red">*</span></label>
                                            @Html.DropDownListFor(q => q.BranchName, new SelectList(ViewBag.ddlBranch, "Value", "Text"), new { @class = "form-control" ,@readonly= "readonly" })
                                            @Html.HiddenFor(q => q.ActionType)
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Name <span style="color: red">*</span></label>
                                            @Html.TextBoxFor(a => a.Name, new { @class = "form-control", @Placeholder = "Name" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Father Name <span style="color: red">*</span></label>
                                            @Html.TextBoxFor(b => b.FatherName, new { @Class = "form-control", @Placeholder = "FatherName" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>DOB <span style="color: red">*</span></label>
                                            @Html.TextBoxFor(f => f.DOB, new { @class = "form-control", @Placeholder = "Date Of Birth", @ReadOnly = "ReadOnly", @onchange = "return ageCount();" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Gender  <span style="color: red">*</span></label>
                                            @Html.DropDownListFor(m => m.Gender, new SelectList(ViewBag.ddlGender, "Value", "Text"), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Category <span style="color: red">*</span></label>
                                            @Html.DropDownListFor(m => m.Category, new SelectList(ViewBag.ddlCategory, "Value", "Text"), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Religion <span style="color: red">*</span></label>
                                            @Html.DropDownListFor(q => q.Religion, new SelectList(ViewBag.ddlReligion, "Value", "Text"), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Qualification  <span style="color: red">*</span></label>
                                            @Html.TextBoxFor(m => m.Qualification, new { @class = "form-control", @Placeholder = "Qualification" })
                                        </div>
                                    </div>
                                </div>


                                <div class="row ">

                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Experience <span style="color: red">*</span></label>
                                            @Html.TextBoxFor(o => o.Experience, new { @class = "form-control", @Placeholder = "Experience" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Last School <span style="color: red">*</span></label>
                                            @Html.TextBoxFor(m => m.LastSchool, new { @class = "form-control", @Placeholder = "   Last School" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Last Experience <span style="color: red">*</span></label>
                                            @Html.TextBoxFor(o => o.LastExperience, new { @class = "form-control", @Placeholder = "Last Experience" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Date of Joining  <span style="color: red">*</span></label>
                                            @Html.TextBoxFor(l => l.DOJ, new { @class = "form-control", @Placeholder = "Date Of Joining", @ReadOnly = "ReadOnly" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">

                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Address <span style="color: red">*</span></label>
                                            @Html.TextAreaFor(c => c.Address, new { @class = "form-control", @Placeholder = "Address", @cols = "30", row = "10" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Pincode <span style="color: red">*</span></label>
                                            @Html.TextBoxFor(d => d.PinCode, new { @class = "form-control", @Placeholder = "Pincode", @OnChange = "return GetstatecityBypincode();", @onkeypress = "return isNumberKey(event);" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>State </label>
                                            @Html.TextBoxFor(d => d.State, new { @class = "form-control", @Placeholder = "State", @ReadOnly = "ReadOnly" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>City  <span style="color: red">*</span></label>
                                            @Html.TextBoxFor(d => d.City, new { @class = "form-control", @Placeholder = "City", @ReadOnly = "ReadOnly" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">

                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Mobile No. <span style="color: red">*</span></label>
                                            @Html.TextBoxFor(e => e.MobileNo, new { @class = "form-control", @Placeholder = "MobileNo.", @maxlength = "10", @onkeypress = "return isNumberKey(event);" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Email Id <span style="color: red">*</span></label>
                                            @Html.TextBoxFor(o => o.EmailID, new { @class = "form-control", @Placeholder = "Email ID" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>Profile Pic </label>
                                            @Html.HiddenFor(r => r.PK_TeacherID)
                                            <input type="file" name="Image" class="bg-default form-control" id="Image" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-left">

                                    <input type="submit" class="btn btn-success" onclick="return validateform();" name="btnUpdate" id="btnUpdate" value="Update" />

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

}

<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">



<script>



    function ageCount() {
        var date1 = new Date();
        var dob = document.getElementById("DOB").value;
        var date2 = new Date(dob);
        var pattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;
        if (pattern.test(dob)) {
            var y1 = date1.getFullYear();
            var y2 = date2.getFullYear();
            var age = y1 - y2;
            if (age < 18) {
                alert("age must be greater then 18 years ..!");
                document.getElementById("DOB").value = "";
            }
            else {

                return false;
            }

        }
        else {
            alert("Invald date format.Please Input in(MM/DD/YYYY)format !");
            document.getElementById("DOB").value = "";
            return false;
        }

    }

    $('#DOB').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: "-59:-18",
        currentyear: false,


    });


    $('#DOJ').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });

    //$('#DOJ').datepicker({
    //    dateFormat: 'dd/mm/yy',
    //    changeMonth: true,
    //    changeYear: true,
    //    currentyear: true,
    //    yearRange: "-1:+0",
    //    maxDate: '0',
    //}
    // );

    function GetstatecityBypincode() {

        var value = $('#PinCode').val();

        $.ajax({
            url: '/TeacherLogin/GetStateCityByPincode', type: 'post', dataType: 'json',
            data: { 'PinCode': value }, success: function (data) {
                if (data.Result == "Yes") {
                    $('#State').val(data.State);
                    $('#City').val(data.City);


                }
                else {
                    alert("Invalid PIn");
                    $('#pincode').val('');
                    $('#State').val('');
                    $('#City').val('');

                }
            }

        });

    }

    function validateform() {
        $(".errortext").removeClass("errortext");

        if ($('#BranchName').val() == '0') {
            $("#BranchName").addClass('errortext');
            $('#BranchName').focus();
            return false;
        }

        if ($('#DesignationName').val() == '0') {
            $("#DesignationName").addClass('errortext');
            $('#DesignationName').focus();
            return false;
        }

        if ($('#Name').val() == '') {
            $("#Name").addClass('errortext');
            $('#Name').focus();
            return false;
        }

        if ($('#DOB').val() == '') {
            $("#DOB").addClass('errortext');
            $('#DOB').focus();
            return false;
        }

        if ($('#Gender').val() == 'Select Gender') {
            $("#Gender").addClass('errortext');
            $('#Gender').focus();
            return false;
        }


        if ($('#Category').val() == 'Select Category') {
            $("#Category").addClass('errortext');
            $('#Category').focus();
            return false;
        }
        if ($('#Religion').val() == '0') {
            $("#Religion").addClass('errortext');
            $('#Religion').focus();
            return false;
        }

        if ($('#Qualification').val() == '') {
            $("#Qualification").addClass('errortext');
            $('#Qualification').focus();
            return false;
        }
        if ($('#Experience').val() == '') {
            $("#Experience").addClass('errortext');
            $('#Experience').focus();
            return false;
        }
        if ($('#DOJ').val() == '') {
            $("#DOJ").addClass('errortext');
            $('#DOJ').focus();
            return false;
        }

        if ($('#Address').val() == '') {
            $("#Address").addClass('errortext');
            $('#Address').focus();
            return false;
        }
        if ($('#PinCode').val() == '') {
            $("#PinCode").addClass('errortext');
            $('#PinCode').focus();
            return false;
        }

        if ($('#MobileNo').val() == '') {
            $("#MobileNo").addClass('errortext');
            $('#MobileNo').focus();
            return false;
        }



        if ($('#EmailID').val() == '') {
            $("#EmailID").addClass('errortext');
            $('#EmailID').focus();
            return false;
        }


        return true;
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function ViewInformation() {
        $("#BranchName").attr("disabled", "disabled");
        $("#DesignationName").attr("disabled", "disabled");
        $("#Name").attr("readonly", "readonly");
        $("#FatherName").attr("readonly", "readonly");
        $("#DOB").attr("disabled", "disabled");
        $("#Gender").attr("disabled", "disabled");
        $("#Category").attr("disabled", "disabled");
        $("#Religion").attr("disabled", "disabled");
        $("#Qualification").attr("readonly", "readonly");
        $("#Experience").attr("readonly", "readonly");
        $("#LastSchool").attr("readonly", "readonly");
        $("#LastExperience").attr("readonly", "readonly");
        $("#Address").attr("readonly", "readonly");
        $("#PinCode").attr("readonly", "readonly");
        $("#MobileNo").attr("readonly", "readonly");
        $("#DOJ").attr("readonly", "readonly");
        $("#Image").attr("readonly", "readonly");
        $("#EmailID").attr("readonly", "readonly");
        $('#btnUpdate').hide();
        $('#btnSave').hide();
        $('#btnView').hide();
    }

</script>

