@model AfluexSchool.Models.Master

@{
    ViewBag.Title = "NoticeMaster";
    Layout = "~/Views/Shared/_TeacherLayout .cshtml";
}

@using (Html.BeginForm("NoticeMaster", "TeacherLogin", FormMethod.Post, new { @id = "NoticeMaster" }))
{

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-xxl-12 col-md-12">
                <div class="card shadow">
                    <div class="card-header">
                        <h4 class="card-title font-weight-bold">Notice Master</h4>
                        <p style="color:red">
                            @TempData["NoticeMaster"]
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label> Class <span style="color:red">*</span></label>
                                        @Html.DropDownListFor(m => m.Fk_ClassID, new SelectList(ViewBag.ddlClass, "Value", "Text"), new { @class = "form-control", @onchange = "return GetSectionByClass();" })
                                    </div>
                                    <div class="form-group  col-md-3">
                                        <label> Section <span style="color:red">*</span></label>
                                        @Html.DropDownListFor(m => m.Fk_SectionID, new SelectList(ViewBag.ddlsection, "Value", "Text"), new { @class = "form-control", @onchange = "return GetSubjectNameBySection ();" })
                                    </div>
                                    <div class="form-group  col-md-3">
                                        <label>Notice Name <span style="color: red">*</span></label>
                                        @Html.TextBoxFor(m => m.NoticeName, new { @class = "form-control", @placeholder = "Notice Name" })
                                    </div>
                                    <div class="form-group  col-md-3">
                                        <label class="d-lg-block d-none">&nbsp;</label>
                                        @Html.HiddenFor(m => m.PK_NoticeId)
                                        @if (Model.PK_NoticeId == null)
                                        {
                                            <input type="submit" class="btn btn-success" value="Save" name="SaveNotice" onclick="return validate();" />
                                        }
                                        else
                                        {
                                            <input type="submit" class="btn btn-success" value="Update" name="UpdateNotice" onclick="return validate();" />
                                        }
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>


    function validate() {
        $(".errortext").removeClass('errortext');
        if ($('#Pk_ClassId').val() == 0) {
            $('#Pk_ClassId').addClass('errortext');
            $('#Pk_ClassId').focus();
            return false;
        }
        if ($('#PK_SectionId').val() == 0) {
            $('#PK_SectionId').addClass('errortext');
            $('#PK_SectionId').focus();
            return false;
        }
        if ($('#NoticeName').val() == '') {
            $('#NoticeName').addClass('errortext');
            $('#NoticeName').focus();
            return false;
        }
    }

    function GetSectionByClass() {
        var value = $('#Fk_ClassID').val();
        //var values = $('#SectionName').val();
        //alert(value);
        $.ajax({
            url: "/TeacherLogin/GetSectionByClass",
            Type: "Get",
            DataType: "JSON",
            data: { Fk_ClassID: value },
            success: function (data) {

                $("#Fk_SectionID").html(""); // clear before appending new list
                $("#Fk_SectionID").empty();
                $("#Fk_SectionID").append(
                      $('<option></option>').val(0).html('--Select Section--'));
                $.each(data.ddlsection, function (index, Sectioncount) {
                    $("#Fk_SectionID").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));

                });


            }
        });

    }
</script>



