@model AfluexSchool.Models.Student

@{
    ViewBag.Title = "StudentAttendanceByTeacher";
    Layout = "~/Views/Shared/_TeacherLayout .cshtml";
}

@using (Html.BeginForm("StudentAttendanceByTeacher", "TeacherLogin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div>
        <div class="card border-0 shadow-sm mb-4">
            <div class="card-header border-0 bg-none">
                <div class="row">
                    <div class="col-12 col-md">
                        <p class="fs15">Attendance</p>
                    </div>
                    <p style="color:red">
                        @TempData["StudentAttendance"]
                    </p>
                </div>
            </div>
            <div class="card-body ">
                <div class="row">

                    <div class="col-md-4">
                        <label>Class  </label>
                        @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control", @readonly = "read" })
                        @Html.HiddenFor(m => m.Fk_ClassID)
                    </div>
                    <div class="col-md-4">
                        <label>Section </label>
                        @Html.TextBoxFor(m => m.SectionName, new { @class = "form-control", @readonly = "read" })
                        @Html.HiddenFor(m => m.Fk_SectionID)
                    </div>
                    <div class="col-md-4">
                        <label>Attendance Date <span style="color: red">*</span></label>
                        @Html.TextBoxFor(m => m.AttendanceDate, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="card-footer text-left">
                    <div class="col-md-2">
                        <input class="btn btn-primary" type="submit" name="btndetail" value="Get Detail" id="btndetail" />
                    </div>
                </div>
                @if (Model != null)
                {
                    if (Model.listStudent != null)
                    {
                        int i = 1;
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table class="table datatable display responsive w-100 dataTable no-footer dtr-inline" style="width: 1002px;">
                                        <thead>
                                            <tr>
                                                <th>S No.</th>
                                                <th>StudentName</th>
                                                <th>LoginID</th>

                                                <th>Mobile</th>
                                                <th>Medium</th>
                                                <th> Select All&nbsp;&nbsp; <input type="checkbox" name="checkedAll" id="checkedAll" style="margin-top:3px;" /></th>

                                            </tr>

                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.listStudent)
                                            {

                                                <tr>
                                                    <td>
                                                        @i

                                                    </td>
                                                    <td>
                                                        @item.DisplayName
                                                    </td>
                                                    <td>
                                                        @item.LoginID
                                                    </td>

                                                    <td>
                                                        @item.Mobile
                                                    </td>
                                                    <td>
                                                        @item.Medium
                                                    </td>

                                                    <td>

                                                        <input type="hidden" name="hdClassID_ @i" id="hdClassID_ @i" value="@item.Fk_ClassID" />
                                                        <input type="hidden" name="hdSectionID_ @i" id="hdSectionID_ @i" value="@item.Fk_SectionID" />
                                                        <input type="hidden" name="hdStudentID_ @i" id="hdStudentID_ @i" value="@item.Pk_StudentID" />
                                                        <input type="hidden" name="hdMobile_ @i" id="hdMobile_ @i" value="@item.Mobile" />
                                                        <input type="hidden" name="hdStudentName_ @i" id="hdStudentName_ @i" value="@item.DisplayName" />
                                                        @if (item.Status != "P")
                                                        {

                                                            <input type="checkbox" id="chkSelect_ @i" name="chkSelect_ @i" class="chkclass" />
                                                        }
                                                        else
                                                        {

                                                            <input type="checkbox" checked="checked" name="chkSelect_ @i" id="chkSelect_ @i" disabled="disabled" />
                                                        }

                                                    </td>

                                                </tr>
                                                i++;
                                            }
                                            <input type="hidden" id="hdRows" name="hdRows" value="@i" />

                                        </tbody>
                                    </table>


                                    <div class="j-response"></div>

                                </div>



                            </div>
                        </div>

                        <div class="card-footer text-left">

                            <div class="col-md-2">
                                <input class="btn btn-success btn-sm" type="submit" onclick="return validateform();" name="btnsave" value="Save Attendance" id="btnSave" />

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>



}
<script src="../../scripts/jquery-1.10.2.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });

    });

    $('#checkedAll').click(function () {
        if ($(this).prop("checked")) {
            //$('input:checkbox[name=checkBoxId_]').attr('checked', true);
            $('.chkclass').prop("checked", true);
        } else {
            //$('input:checkbox[name=checkBoxId_]').attr('checked', false);
            $('.chkclass').prop("checked", false);
        }
    });
    function OnchangeSection() {
        var value = $('#Fk_ClassID').val();
        $.ajax({
            url: "/TeacherLogin/GetSectionByClass",
            Type: "Get",
            DataType: "JSON",
            data: { Fk_ClassID: value },
            success: function (data) {

                $("#Fk_SectionID").html("");
                $("#Fk_SectionID").empty();
                $("#Fk_SectionID").append(
                      $('<option></option>').val(0).html('--Select Section--'));
                $.each(data.ddlsection, function (index, Sectioncount) {
                    $("#Fk_SectionID").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));

                });


            }
        });

    }
    function validateform() {
        $(".errortext").removeClass("errortext");

        if ($('#Fk_ClassID').val() == '0') {
            $("#Fk_ClassID").addClass('errortext');
            $('#Fk_ClassID').focus();
            return false;
        }

        if ($('#Fk_SectionID').val() == '0') {
            $("#Fk_SectionID").addClass('errortext');
            $('#Fk_SectionID').focus();
            return false;
        }

        if ($('#AttendanceDate').val() == '') {
            $("#AttendanceDate").addClass('errortext');
            $('#AttendanceDate').focus();
            return false;
        }
        if (($("input[name*='chkSelect_']:checked").length) <= 0) {
            alert("You must check at least 1 box");
            return false;
        }
        return true;
    }

    $('#AttendanceDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        minDate: '+0d',
        maxDate: '-0d'

    });

</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
