@model AfluexSchool.Models.Master

@{
    ViewBag.Title = "AllotVehicleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AllotVehicleList", "Master", FormMethod.Post, new { @id = "NoticeList" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Allot Vehicle List</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Vehicle</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Allot Vehicle List</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["DeleteAllotVehicle"]
                </p>
                
                <div class="col-md-12">
                    <a href="/Export/ExportToExcel?id=pdf&&PageName=AllotVehicleList"><img src="../../AdminPanelcss/assets/img/pdf.png" style="width:40px;height:40px" title="Export To PDF" /></a>
                    <a href="/Export/ExportToExcel?id=excel&&PageName=AllotVehicleList"><img src="../../AdminPanelcss/assets/img/excel.jpg" style="width:40px;height:40px" title="Export To Excel" /></a>
                    <a href="/Export/ExportToExcel?id=word&&PageName=AllotVehicleList"><img src="../../AdminPanelcss/assets/img/Word.png" style="width:40px;height:40px" title="Export To Word" /></a>
                    <a href="#" onclick="return printData();"><img src="../../AdminPanelcss/assets/img/print.jpg" style="width:40px;height:40px" title="Print" /></a>
                </div>

                <div class="table-responsive mt-3">
                    <table id="example5" class="display table" style="min-width:845px">
                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Teacher Name</th>
                                <th>Student Name</th>
                                <th>Route No</th>
                                <th>Amount</th>
                                <th>Area Name</th>
                                <th>Vehicle No</th>
                                <th>Driver Name</th>
                                <th>Driver Contact No</th>
                                <th class="station-12" style="display:@ViewBag.IsDelete;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.Arealist != null)
                                {
                                    var i = 1;
                                    foreach (var item in Model.Arealist)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.Name</td>
                                            <td>@item.StudentName</td>
                                            <td>@item.RouteNo</td>
                                            <td>@item.Amount</td>
                                            <td>@item.AreaName</td>
                                            <td>@item.VehicleNo</td>
                                            <td>@item.DriverName</td>
                                            <td>@item.DriverContactNo</td>
                                            <td class="station-12" style="display:@ViewBag.IsDelete;">
                                                <a href="/Master/DeleteAllotVehicle?PK_AllotId=@item.PK_AllotId" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure want to delete?')">Stop Vehicle Service</a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>

                    </table>

                </div>

            </div>
        </div>
    </div>
    
}

<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script>

    function printData()
    {
        
        var divToPrint = document.getElementById("example24");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }
</script>