@model AfluexSchool.Models.Master

@{
    ViewBag.Title = "AlotVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("AlotVehicle", "Master", FormMethod.Post, new { @id = "AlotVehicle" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Allot Vehicle</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Vehicle</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Allot Vehicle</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["AlotVehicle"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label> Select Type <span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.Type, new SelectList(ViewBag.ddltype, "Value", "Text"), new { @class = "form-control", @onchange = "return GetTeacherStudent()" })
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" id="Class" style="display:none">
                                <label>Class Name</label>
                                @Html.DropDownListFor(m => m.Pk_ClassId, new SelectList(ViewBag.ddlClassName, "Value", "Text"), new { @class = "form-control", @readonly = "readonly", @onchange = "return GetSection()" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" id="Section" style="display:none">
                                <label>Section Name</label>
                                @Html.DropDownListFor(m => m.PK_SectionId, new SelectList(ViewBag.ddlSectionName, "Value", "Text"), new { @class = "form-control", @readonly = "readonly", @onchange = "return GetStudent()" })
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" id="GetDetails" name="GetDetails" onclick="return showVehicle()" class="btn btn-primary" value="Get Details" />
                        </div>
                    </div>
                </form>

                <div class="table-responsive mt-3">
                    <table id="example5" class="display table" style="min-width:845px">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th id="Typename">Type</th>
                                <th id="stuname" style="display:none">Student Name</th>
                                <th id="teachname" style="display:none">Teacher Name</th>
                                <th>Check For Assign</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.StudentList != null)
                                {
                                    int i = 1;
                                    foreach (var item in Model.StudentList)
                                    {
                                        <tr>
                                            <td>
                                                @i
                                            </td>
                                            @if (Model.Type == "Student")
                                            {
                                                <td>
                                                    @item.StudentName
                                                </td>
                                            }
                                            else if (Model.Type == "Staff")
                                            {
                                                <td>
                                                    @item.Name
                                                </td>
                                            }
                                            <td>
                                                <input name="chkSelect_ @i" id="chkSelect_ @i" type="checkbox" @item.SelectedValue />
                                                <input type="hidden" name="Type_ @i" id="Type_ @i" value="@item.Type" />
                                                <input type="hidden" name="PK_TeacherID_ @i" id="PK_TeacherID_ @i" value="@item.PK_TeacherID" />
                                                <input type="hidden" name="Pk_ClassId_ @i" id="Pk_ClassId_ @i" value="@item.Pk_ClassId" />
                                                <input type="hidden" name="PK_SectionId_ @i" id="PK_SectionId_ @i" value="@item.PK_SectionId" />
                                                <input type="hidden" name="Pk_StudentID_ @i" id="Pk_StudentID_ @i" value="@item.Pk_StudentID" />
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                    <input type="hidden" id="hdRows" name="hdRows" value="@i" />
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group" id="PK_Route" style="display:none">
                            <label>Route<span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.PK_RouteId, new SelectList(ViewBag.ddlRoute, "Value", "Text"), new { @class = "form-control", @onchange = "return GetArea()" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" id="PK_AreaMaster" style="display:none">
                            <label>Area<span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.PK_AreaMasterID, new SelectList(ViewBag.ddlArea, "Value", "Text"), new { @class = "form-control", @onchange = "return GetVehicleDetails()" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" id="Vehicle" style="display:none">
                            <label>Vehicle No<span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.VehicleNo, new { @class = "form-control", @placeholder = "Vehicle No", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" id="Driver" style="display:none">
                            <label>Driver Name</label>
                            @Html.TextBoxFor(m => m.DriverName, new { @class = "form-control", @placeholder = "Driver Name", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" id="DriverConta" style="display:none">
                            <label>Driver Contact No</label>
                            @Html.TextBoxFor(m => m.DriverContactNo, new { @class = "form-control", @Placeholder = "Contact No", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" id="Amou" style="display:none">
                            <label>Amount<span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @placeholder = "Amount", @onkeypress = "return validNumber(event)" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="display:none" id="Saves">
                    @*@if (Model.Pk_AlotVehicleID == null)
                    {*@
                        <input type="submit" class="btn btn-success" value="Save" name="SaveAlotVehicle" onclick="return validate();" />
                        @*}
                    else
                    {
                        <input type="submit" class="btn btn-success" value="Update" name="UpdateVehicle" onclick="return validate();" />
                    }*@
                </div>
            </div>
        </div>
    </div>

}

<script src="../../AdminPanelcss/assets/js/jquery-3.3.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>

    $(document).ready(function () {
        if ($('#Type').val() == 0) {
            $('#tblData').hide();
            $('#Vehicle').hide();
            $('#Driver').hide();
            $('#DriverConta').hide();
            $('#Amou').hide();
            $('#Class').hide();
            $('#Section').hide();
            $('#PK_Route').hide();
            $('#PK_AreaMaster').hide();
           
        }
        else if ($('#Type').val() == "Student") {
            $('#Typename').hide();
            $('#stuname').show();
            $('#Class').show();
            $('#Section').show();
            $('#Student').show();
            $('#Saves').show();
            $('#Teacher').hide();
            $('#Vehicle').show();
            $('#Driver').show();
            $('#DriverConta').show();
            $('#Amou').show();
            $('#PK_Route').show();
            $('#PK_AreaMaster').show();

        } else {
            $('#Typename').hide();
            $('#teachname').show();
            $('#Teacher').show();
            $('#Section').hide();
            $('#Saves').show();
            $('#Student').hide();
            $('#Class').hide();
            $('#Vehicle').show();
            $('#Driver').show();
            $('#DriverConta').show();
            $('#Amou').show();
            $('#PK_Route').show();
            $('#PK_AreaMaster').show();
        }
    });


    function validate() {
        $(".errortext").removeClass('errortext');
      
        if ($("#Amount").val() == "") {
            $("#Amount").addClass('errortext');
            $("#Amount").focus();
            return false;
        }

        if ($("#PK_RouteId").val() == 0) {
            $("#PK_RouteId").addClass('errortext');
            $("#PK_RouteId").focus();
            return false;
        }
        if ($("#PK_AreaMasterID").val() == 0) {
            $("#PK_AreaMasterID").addClass('errortext');
            $("#PK_AreaMasterID").focus();
            return false;
        }
    }

    function validNumber(event) {
        var key = window.event ? event.keyCode : event.which;
        if (event.keyCode === 8 || event.keyCode === 45) {
            return true;
        } else if (key < 48 || key > 57) {
            return false;
        } else {
            return true;
        }
    }


    function GetDriverNameandContact() {
        var PK_VehicleMasterID = document.getElementById('PK_VehicleMasterID').value;
        $.ajax({
            url: '/Master/GetDriverNameandContact',
            data: {
                'PK_VehicleMasterID': $('#PK_VehicleMasterID').val()
            },
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                data.DriverName
                data.DriverContactNo
                var strDriverName = $('#DriverName').val(data.DriverName);
                var strDriverContactNo = $('#DriverContactNo').val(data.DriverContactNo)
            }
        });
    }

    function GetTeacherStudent() {
        if ($('#Type').val() ==0){
            $('#Vehicle').hide();
            $('#Driver').hide();
            $('#DriverConta').hide();
            $('#tblData').hide();
            $('#Class').hide();
            $('#Section').hide();
            $('#Saves').hide();
            $('#Amou').hide();
            $('#PK_Route').hide();
            $('#PK_AreaMaster').hide();
            $('#Vehicle').hide();
        }
        else if ($('#Type').val() == "Student") {

            $('#Class').show();
            $('#Section').show();
            $('#Student').show();
            $('#Teacher').hide();
            $('#tblData').hide();
            $('#Driver').hide();
            $('#DriverConta').hide();
            $('#Saves').hide();
            $('#Amou').hide();
            $('#PK_Route').hide();
            $('#PK_AreaMaster').hide();
            $('#Vehicle').hide();

        } else {
            
            $('#Teacher').show();
            $('#Section').hide();
            $('#Student').hide();
            $('#Saves').hide();
            $('#Class').hide();
            $('#tblData').hide();
            $('#Class').hide();
            $('#Driver').hide();
            $('#DriverConta').hide();
            $('#Amou').hide();
            $('#PK_Route').hide();
            $('#PK_AreaMaster').hide();
            $('#Vehicle').hide();
        }
    }

    function GetSection() {
        var Pk_ClassId = document.getElementById('Pk_ClassId').value;
        $.ajax({
            url: '/Master/GetSectionByClass',
            data: {
                'Pk_ClassId': $('#Pk_ClassId').val()
            },
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                $("#Pk_StudentID").html("");
                $("#Pk_StudentID").empty();
                $("#Pk_StudentID").append(
                   $('<option></option>').val(0).html('--Select Student--'));
                $("#PK_SectionId").html("");
                $("#PK_SectionId").empty();
                $("#PK_SectionId").append(
                      $('<option></option>').val(0).html('--Select Section--'));

                $.each(data.ddlSectionName, function (index, Sectioncount) {
                    $("#PK_SectionId").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));
                });
            }
        });
    }

    function GetStudent() {
        var Pk_ClassId = document.getElementById('Pk_ClassId').value;
        var PK_SectionId = document.getElementById('PK_SectionId').value;
        $.ajax({
            url: '/Master/GetStudentList',
            data: {
                'Pk_ClassId': $('#Pk_ClassId').val(),
                'PK_SectionId': $('#PK_SectionId').val()
            },
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                $("#Pk_StudentID").html("");
                $("#Pk_StudentID").empty();
                $("#Pk_StudentID").append(
                      $('<option></option>').val(0).html('--Select Subject--'));
                $.each(data.ddlStudent, function (index, Studentcount) {
                    $("#Pk_StudentID").append(
                          $('<option></option>').val(Studentcount.Value).html(Studentcount.Text));
                });
            }
        });
    }

    function showVehicle() {
        var DriverName = document.getElementById('DriverName');
        DriverName = "";
        $('#DriverName').val(DriverName);
        var DriverContactNo = document.getElementById('DriverContactNo');
        DriverContactNo = "";
        $('#DriverContactNo').val(DriverContactNo);
      
        var VehicleNo = document.getElementById('VehicleNo');
        VehicleNo = "";
        $('#VehicleNo').val(VehicleNo);
        var Amount = document.getElementById('Amount');
        Amount = "";
        $('#Amount').val(Amount);
        var PK_RouteId = document.getElementById('PK_RouteId');
        PK_RouteId = 0;
        $('#PK_RouteId').val(PK_RouteId);

        if ($('#Type').val() == 0) {
            alert('Please select Tpye');
            return false;
        }
        else if ($('#Type').val() == "Student") {

            $('#Driver').show();
            $('#DriverConta').show();
            $('#Amou').show();
            $('#PK_Route').show();
            $('#PK_AreaMaster').show();
            $('#Vehicle').show();
            $('#Saves').show();
            $('#Class').val() == 0;
        } else {
            $('#Section').hide();
            $('#Class').hide();
            $('#Saves').show();
            $('#PK_Route').show();
            $('#PK_AreaMaster').show();
            $('#Driver').show();
            $('#DriverConta').show();
            $('#Amou').show();
            $('#Vehicle').show();
        }
    }

    function validNumber(event) {
        var charCode = (event.which) ? event.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }


    function GetArea() {
        var PK_RouteId = document.getElementById('PK_RouteId').value;

        $.ajax({
            url: '/Master/GetArea',
            data: {
                'PK_RouteId': $('#PK_RouteId').val()
            },
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                $("#PK_AreaMasterID").html("");
                $("#PK_AreaMasterID").empty();
                $("#PK_AreaMasterID").append(
                      $('<option></option>').val(0).html('--Select Area--'));
                $.each(data.ddlArea, function (index, areacount) {
                    $("#PK_AreaMasterID").append(
                          $('<option></option>').val(areacount.Value).html(areacount.Text));
                });

                var strAmount = $('#Amount').val(data.Amount)
            }
        });
    }


    function GetVehicleDetails() {
        var PK_AreaMasterID = document.getElementById('PK_AreaMasterID').value;
        var PK_RouteId = document.getElementById('PK_RouteId').value;
        var DriverName = document.getElementById('DriverName');
        DriverName = "";
        $('#DriverName').val(DriverName);
        var DriverContactNo = document.getElementById('DriverContactNo');
        DriverContactNo = "";
        $('#DriverContactNo').val(DriverContactNo);


        $.ajax({
            url: '/Master/GetVehicleDetails',
            data: {
                'PK_AreaMasterID': $('#PK_AreaMasterID').val(), 'PK_RouteId': $('#PK_RouteId').val()
            },
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
               
                $('#VehicleNo').val(data.VehicleNo);
                $('#DriverName').val(data.DriverName);
                 $('#DriverContactNo').val(data.DriverContactNo)
                 $('#Amount').val(data.Amount)
            }
        });
    }

</script>

