@model AfluexSchool.Models.Master

@{
    ViewBag.Title = "AssignSubjecttoClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AssignSubjecttoClass", "Master", FormMethod.Post, new { @id = "AssignSubjecttoClass" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Assign Subject To Class</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Masters</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Assign Subject To Class</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["AssignSubjecttoClass"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label> Class Name <span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.Pk_ClassId, new SelectList(ViewBag.ddlClassName, "Value", "Text"), new { @class = "form-control", @onchange = "return GetSection()" })
                            @Html.HiddenFor(m => m.Pk_AssignId, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            <label>Section Name <span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.PK_SectionId, new SelectList(ViewBag.ddlSectionName, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="d-block">&nbsp;</label>
                            <input type="submit" class="btn btn-success" onclick="return getdetails()" value="Get Subject" name="GetAssignList" @*onclick="return getUserAndFormType();"*@ />
                        </div>
                    </div>
                </form>

                <div class="table-responsive mt-3">
                    <table id="example5" class="display table" style="min-width:845px">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Subject Name</th>
                                <th>Check For Assign</th>
                            </tr>
                        </thead>
                        <tbody id="tblData">
                            @if (Model != null)
                            {
                                if (Model.subjectLst != null)
                                {
                                    int i = 1;
                                    foreach (var item in Model.subjectLst)
                                    {
                                        <tr>
                                            <td>
                                                @i
                                            </td>
                                            <td>
                                                @item.SubjectName
                                            </td>
                                            <td hidden>
                                                @item.Pk_SubjectId
                                            </td>
                                            @if (item.Status == "Checked")
                                            {
                                                <td><input name="chkSelect_ @i" id="chkUnSelect_ @i" type="checkbox" value="Checked" checked /></td>

                                                        <input type="hidden" name="Pk_ClassId_ @i" id="Pk_ClassId_ @i" value="@item.Pk_ClassId" />
                                                        <input type="hidden" name="PK_SectionId_ @i" id="PK_SectionId_ @i" value="@item.PK_SectionId" />
                                                            <input type="hidden" name="Pk_SubjectId_ @i" id="Pk_SubjectId_ @i" value="@item.Pk_SubjectId" />
                                                            <input type="hidden" name="Pk_AssignId_ @i" id="Pk_AssignId_ @i" value="@item.Pk_AssignId" />
                                            }
                                            else
                                            {
                                                <td>
                                                    <input type="checkbox" value="Checked" name="chkSelect_ @i" id="chkUnSelect_ @i" />

                                                    <input type="hidden" name="Pk_ClassId_ @i" id="Pk_ClassId_ @i" value="@item.Pk_ClassId" />
                                                    <input type="hidden" name="PK_SectionId_ @i" id="PK_SectionId_ @i" value="@item.PK_SectionId" />
                                                    <input type="hidden" name="Pk_SubjectId_ @i" id="Pk_SubjectId_ @i" value="@item.Pk_SubjectId" />
                                                    <input type="hidden" name="Pk_AssignId_ @i" id="Pk_AssignId_ @i" value="@item.Pk_AssignId" />
                                                </td>
                                            }
                                        </tr>
                                        i++;
                                    }
                                    <input type="hidden" id="hdRows" name="hdRows" value="@i" />
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 mt-3">
                    @if (Model.Pk_AssignId == null)
                    {
                        <input type="submit" id="btnSave" style="display:none" class="btn btn-success" value="Save" name="SaveAssignSubject" onclick="return validate();" />
                    }
                    else
                    {
                        <input type="submit" id="btnUpdate" class="btn btn-success" value="Update" name="UpdateSubjectMaster" onclick="return validate();" />
                    }
                </div>
            </div>
        </div>
    </div>
    
}
<script src="../../AdminPanelcss/assets/js/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        if ($('#Pk_ClassId').val() == 0 && $('#PK_SectionId').val() == 0) {
            $('#tabl').hide();
            $('#btnSave').hide();
        } else {

            $('#tabl').show();
            $('#btnSave').show();
        }

    });

    function getdetails() {
        if ($('#Pk_ClassId').val() == 0) {
            $('#Pk_ClassId').addClass('errortext');
            $('#Pk_ClassId').focus();
            return false;
        }
        if ($('#PK_SectionId').val() == 0) {
            $('#PK_SectionId').addClass('errortext');
            $('#PK_SectionId').focus();
            return false;
        }
        if ($('#Pk_ClassId').val() == 0 && $('#PK_SectionId').val() == 0) {
            $('#tabl').hide();
            $('#btnSave').hide();
        } else {

            $('#tabl').show();
            $('#btnSave').show();
        }
    }

    function validate() {
        $('.errortext').removeClass('errortext');
        if ($('#SubjectName').val() == '') {
            $('#SubjectName').addClass('errortext');
            $('#SubjectName').focus();
            return false;
        }
        if ($('#Pk_ClassId').val() == 0) {
            $('#Pk_ClassId').addClass('errortext');
            $('#Pk_ClassId').focus();
            return false;
        }
        if ($('#PK_SectionId').val() == 0) {
            $('#PK_SectionId').addClass('errortext');
            $('#PK_SectionId').focus();
            return false;
        }
    }

    function GetSection() {
        var Pk_ClassId = document.getElementById('Pk_ClassId').value;
        $.ajax({
            url: '/Master/GetSectionByClass',
            data: {
                'Pk_ClassId': $('#Pk_ClassId').val()
            },
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                $("#PK_SectionId").html("");
                $("#PK_SectionId").empty();
                $("#PK_SectionId").append(
                      $('<option></option>').val(0).html('--Select Section--'));
                $.each(data.ddlSectionName, function (index, Sectioncount) {
                    $("#PK_SectionId").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));
                });
            }
        });
    }

    function GetAssignList() {
        var tr = [];
        var Pk_ClassId = document.getElementById('Pk_ClassId').value;
        var PK_SectionId = document.getElementById('PK_SectionId').value;
        $.ajax({
            url: '/Master/GetAssignSubject',
            data: {
                'Pk_ClassId': $('#Pk_ClassId').val(), 'PK_SectionId': $('#PK_SectionId').val(), 'chkUnSelect_': $('chkUnSelect_').val()
            },
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                if (data.Result == "1") {
                    $('#tblData').find("tr:not(:first)").remove();
                    var j = 1;
                    if (data.subjectLst.length > 0) {

                        for (var i = 0; i < data.subjectLst.length; i++) {

                            $('#tblData').empty();

                            tr.push('<tr>');
                            tr.push("<td>" + j + "</td>");
                            tr.push("<td>" + data.subjectLst[i].SubjectName + "</td>");

                            tr.push("<td style='display:none'><input type='hidden' value='" + data.subjectLst[i].Pk_SubjectId + "' id='Pk_SubjectId " + i + "' name='Pk_SubjectId " + i + "'></td>");
                            if (data.subjectLst[i].Status == "Checked") {
                                tr.push("<td><input type='checkbox' name=" + data.subjectLst[i].Pk_SubjectId + " CHECKED/></td>");

                            }
                            else {
                                tr.push("<td><input type='checkbox' name=" + data.subjectLst[i].Pk_SubjectId + " /></td>");

                            }
                            tr.push('</tr>');
                            j++;

                            tr.push('<tr style="display:none">');
                            tr.push("<td><input type='hidden' value='" + j + "' id='hdRows' name='hdRows'></td>");
                            tr.push('</tr>');
                            $('#tblData').append($(tr.join('')));
                        }
                    }
                }
            }

        });

    }
</script>

