@model AfluexSchool.Models.Master

@{
    ViewBag.Title = "AssignClassTeacherList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("AssignClassTeacherList", "Master", FormMethod.Post, new { @id = "AssignClassTeacherList" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Assign Class Teacher List</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Teacher</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Assign Class Teacher List</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["AssignClassTeacherList"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Teacher</label>
                            @Html.DropDownListFor(m => m.PK_TeacherID, new SelectList(ViewBag.ddlTeacherName, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group  col-md-3">
                            <label>Class</label>
                            @Html.DropDownListFor(m => m.Pk_ClassId, new SelectList(ViewBag.ddlClassName, "Value", "Text"), new { @class = "form-control", @onchange = "return GetSection()" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Section</label>
                            @Html.DropDownListFor(m => m.PK_SectionId, new SelectList(ViewBag.ddlSectionName, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="d-block">&nbsp;</label>
                            <input type="submit" class="btn btn-info" name="btnsearch" id="btnsearch" value="Search" />
                        </div>
                        
                    </div>
                </form>

                <div class="table-responsive mt-3">
                    <table id="example5" class="display table" style="min-width:845px">
                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Teacher Name</th>
                                <th>Class Name</th>
                                <th>Section Name</th>
                                <th style="display:@ViewBag.IsDelete;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.assignClassTeacherList != null)
                                {
                                    var i = 1;
                                    foreach (var item in Model.assignClassTeacherList)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.Name</td>
                                            <td>@item.ClassName</td>
                                            <td>@item.SectionName</td>
                                            <td style="display:@ViewBag.IsDelete;">
                                                <a href="/Master/DeleteAssignClassTeacher?Pk_AssignClassTeacherId=@item.Pk_AssignClassTeacherId" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure want to delete?')">Delete</a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
}

<script>
    function printData() {

        var divToPrint = document.getElementById("example24");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }
    function GetSection() {
        var Pk_ClassId = document.getElementById('Pk_ClassId').value;
        $.ajax({
            url: '/Master/GetSectionByClass',
            data: {
                'Pk_ClassId': $('#Pk_ClassId').val()
            },
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                $("#PK_SectionId").html("");
                $("#PK_SectionId").empty();
                $("#PK_SectionId").append(
                      $('<option></option>').val(0).html('--Select Section--'));
                $.each(data.ddlSectionName, function (index, Sectioncount) {
                    $("#PK_SectionId").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));
                });
            }
        });
    }
</script>
