@model AfluexSchool.Models.Master

@{
    ViewBag.Title = "NoticeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("NoticeList", "Master", FormMethod.Post, new { @id = "NoticeList" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Notice List</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Masters</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Notice List</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["NoticeList"]
                </p>
                
                <div class="table-responsive">
                    <table id="example5" class="display table" style="min-width:845px">
                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Class Name</th>
                                <th>Section</th>
                                <th>Notice Name</th>
                                <th class="station-12" style="display:@ViewBag.IsEdit;">Edit</th>
                                <th class="station-12" style="display:@ViewBag.IsDelete;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.Noticelist != null)
                                {
                                    var i = 1;
                                    foreach (var item in Model.Noticelist)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.ClassName</td>
                                            <td>@item.SectionName</td>
                                            <td>@item.NoticeName</td>
                                            <td class="station-12" style="display:@ViewBag.IsEdit;">
                                                <a href="/Master/NoticeMaster?PK_NoticeId=@item.PK_NoticeId" class="btn btn-success btn-sm">Edit</a>

                                            </td>
                                            <td class="station-12" style="display:@ViewBag.IsDelete;"><a href="/Master/DeleteNotice?PK_NoticeId=@item.PK_NoticeId" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure want to delete?')">Delete</a></td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}

<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script>

    function printData()
    {
        
        var divToPrint = document.getElementById("example24");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }
</script>

