@model AfluexSchool.Models.Student

@{
    ViewBag.Title = "ApplyLeave";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}

@using (Html.BeginForm("ApplyLeave", "ParentPanel", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div>
        <div class="card border-0 shadow-sm mb-4">
            <div class="card-header border-0 bg-none">
                <div class="row">
                    <div class="col-12 col-md">
                        <p class="fs15">Apply Leave</p>
                        <p style="color:red;">
                            @TempData["ApplyLeave"]
                        </p>
                    </div> 
                </div>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-4">
                        <label>Student</label>

                        @Html.DropDownListFor(m => m.Pk_StudentID, new SelectList(ViewBag.ddlStudent, "Value", "Text"), new { @class = "form-control", @onchange = "return OnchangeSection();" })
                        @Html.HiddenFor(m => m.Fk_ParentId)
                    </div>
                    <div class="col-md-4">
                        <label>  From Date</label>
                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control" })

                    </div>
                    <div class="col-md-4">
                        <label>  To Date</label>
                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Reason</label>
                        @Html.TextAreaFor(m => m.Reason, new { @class = "form-control" })
                    </div>
                </div>
                <div class="card-footer text-left">
                    <div class="col-md-2">
                        <input type="submit" class="btn btn-info" name="Apply" id="Apply" value="Apply" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script src="../../Scripts/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2029'
    });

    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2029'
    });


    function OnchangeSection() {
        //$("#divload").css({ 'display': '' });
        var value = $('#Fk_ClassID').val();
        //var values = $('#SectionName').val();
        //alert(value);
        $.ajax({
            url: "/ParentPanel/GetSectionByClass",
            Type: "Get",
            DataType: "JSON",
            data: { Fk_ClassID: value },
            success: function (data) {
                //$("#divload").css({ 'display': 'none' });
                $("#Fk_SectionID").html(""); // clear before appending new list
                $("#Fk_SectionID").empty();
                $("#Fk_SectionID").append(
                      $('<option></option>').val(0).html('Select Section'));
                $.each(data.ddlsection, function (index, Sectioncount) {
                    $("#Fk_SectionID").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));

                });

            }
        });

    }


</script>

