@model AfluexSchool.Models.Parent

@{
    ViewBag.Title = "Complains";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-xxl-12 col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <h4 class="card-title font-weight-bold">Complains</h4>
                    @*<p style="color:red">
                            @TempData["FeeReport"]
                        </p>*@
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @if (Model != null)
                                    {
                                        if (Model.listparent != null)
                                        {
                                            int i = 1;
                                            foreach (var item in Model.listparent)
                                            {
                                                <div class="alert alert-dark solid"><strong class="text-primary">@item.Message</strong> @item.MemberName @item.AddedOn</div>
                                                @*<span class="time"> @item.MemberName @item.AddedOn </span>*@
                                            }
                                        }
                                    }
                                  
                                </div>
                                <div class="form-group col-md-5">
                                    <input id="txtmessage" type="text" class="form-control" placeholder="Type your message here...">
                                </div>
                                <div class="form-group col-md-1">
                                    <input class="btn btn-info" type="button" onclick="return savemessage();" value="Save" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script>

    function savemessage() {
        $(".errortext").removeClass("errortext");
        if ($('#txtmessage').val() == '') {
            $("#txtmessage").addClass('errortext');
            $('#txtmessage').focus();
            return false;
        }
        $.ajax({
            url: "/ParentPanel/SaveMessages",
            Type: "Get",
            DataType: "JSON",
            data: { Message: $("#txtmessage").val(), MessageBy: "Parent" },
            success: function (data) {
                if (data.Result == "1") {
                    alert('Message Send Successfully');
                    window.location.href = '@Url.Action("Complains", "ParentPanel")';
                }
                else {
                    alert(data.Result);
                    // window.location.href = '@Url.Action("Complains", "ParentPanel")';
                }


            }

        });
    }


</script>
