@model AfluexSchool.Models.Reports

@{
    ViewBag.Title = "FeeReport";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}


@using (Html.BeginForm("FeeReport", "ParentPanel", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

    <div>
          <div class="login-row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 mx-auto align-self-center">
                <div class="card border-0 shadow-sm mb-4">
                    <div class="card-header">
                        <div class="row ">

                            <div class="col-auto">
                                <h4 class="mt-0 mb-1">Fee Report</h4>

                            </div>
                            <p style="color:red">
                                @TempData["FeeReport"]
                            </p>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-3">

                                <label>  Student Id</label>

                                @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control" })


                            </div>
                            <div class="col-md-3">

                                <label>Class</label>

                                @Html.DropDownListFor(m => m.Fk_ClassID, new SelectList(ViewBag.ddlclass, "Value", "Text"), new { @class = "form-control", @onchange = "return OnchangeSection();" })

                            </div>
                            <div class="col-md-3">

                                <label>Section</label>

                                @Html.DropDownListFor(m => m.Fk_SectionID, new SelectList(ViewBag.ddlsection, "Value", "Text"), new { @class = "form-control" })

                            </div>
                            <div class="col-md-3">

                                <label>  Receipt No.</label>

                                @Html.TextBoxFor(m => m.ReceiptNo, new { @class = "form-control" })

                            </div>


                        </div>
                        

                        <div class="card-footer text-left">

                            <div class="col-md-2">
                                <input type="submit" class="btn btn-info" name="Search" id="btnsearch" value="Search" />
                            </div>
                        </div>


                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered w-100 mb-0" id="example23">
                                        <thead>
                                            <tr>
                                                <th>S.no</th>
                                                <th>Receipt No</th>
                                                <th>Student Name</th>
                                                <th>Payment Date</th>
                                                <th>Amount</th>
                                                <th>BankDetails</th>

                                                <th>Action</th>

                                            </tr>


                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.lstfeedata != null)
                                                {
                                                    int i = 1;
                                                    foreach (var item in Model.lstfeedata)
                                                    {

                                                        <tr>
                                                            <td>
                                                                @i

                                                            </td>
                                                            <td>
                                                                @item.ReceiptNo
                                                            </td>
                                                            <td>
                                                                @item.StudentName
                                                            </td>
                                                            <td>
                                                                @item.PaymentDate
                                                            </td>
                                                            <td>
                                                                @item.Amount
                                                            </td>
                                                            <td>
                                                                @item.BankDetails
                                                            </td>


                                                            <td>
                                                                <a target="_blank" href="/ParentPanel/PrintFeerecipt?Id=@item.ReceiptNo" class="btn btn-info">Print</a>
                                                            </td>
                                                        </tr>
                                                        i++;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <div class="j-response"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>

}
<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script src="../../Scripts/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
   
    function favlidate()
    {
        $(".errortext").removeClass("errortext");
        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }
        $("#divload").css({ 'display': '' });
    }
    function OnchangeSection() {
        //$("#divload").css({ 'display': '' });
        var value = $('#Fk_ClassID').val();
        //var values = $('#SectionName').val();
        //alert(value);
        $.ajax({
            url: "/ParentPanel/GetSectionByClass",
            Type: "Get",
            DataType: "JSON",
            data: { Fk_ClassID: value },
            success: function (data) {
                //$("#divload").css({ 'display': 'none' });
                $("#Fk_SectionID").html(""); // clear before appending new list
                $("#Fk_SectionID").empty();
                $("#Fk_SectionID").append(
                      $('<option></option>').val(0).html('Select Section'));
                $.each(data.ddlsection, function (index, Sectioncount) {
                    $("#Fk_SectionID").append(
                          $('<option></option>').val(Sectioncount.Value).html(Sectioncount.Text));

                });

            }
        });

    }
</script>


