@model AfluexSchool.Models.Student

@{
    ViewBag.Title = "LeaveList";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}

@using (Html.BeginForm("LeaveList", "ParentPanel", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-xxl-12 col-md-12">
                <div class="card shadow">
                    <div class="card-header">
                        <h4 class="card-title font-weight-bold">Leave List</h4>
                        @*<p style="color:red">
                                @TempData["FeeReport"]
                            </p>*@
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label>  Student Id</label>
                                        @Html.TextBoxFor(m => m.StudenLoginID, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>From Date</label>
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", placeholder = "From Date", @ReadOnly = "ReadOnly", @autoComplete = "off" })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label> To Date</label>
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", placeholder = "To Date", @ReadOnly = "ReadOnly", @autoComplete = "off" })
                                    </div>
                                    <div class="form-group  col-md-3">
                                        <label class="d-lg-block d-none">&nbsp;</label>
                                        <input type="submit" value="Search" name="btnSearch" id="btnSearch" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example5" class="display">
                                <thead>
                                    <tr>
                                        <th>S.no</th>
                                        <th>Student</th>
                                        <th>From Date    </th>
                                        <th>To Date   </th>
                                        <th>Reason</th>
                                        <th>Status </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.listStudent != null)
                                        {
                                            int i = 1;
                                            foreach (var item in Model.listStudent)
                                            {
                                                <tr>
                                                    <td>
                                                        @i
                                                    </td>
                                                    <td>@item.studentName (@item.ClassName - @item.SectionName)</td>
                                                    <td>
                                                        @item.FromDate
                                                    </td>
                                                    <td>
                                                        @item.ToDate
                                                    </td>
                                                    <td>
                                                        @item.Reason
                                                    </td>
                                                    <td>
                                                        @item.Status
                                                    </td>

                                                </tr>
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

}

<script src="../../scripts/jquery-1.10.2.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>


<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });

    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    }
);


</script>
