@model AfluexSchool.Models.Master

@{
    ViewBag.Title = "SyllabusList";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}

 
@using (Html.BeginForm("SyllabusList", "ParentPanel", FormMethod.Post, new { @id = "SessionList" }))
{
    <div class="col-12 col-md-12 col-lg-12 col-xl-12 mx-auto align-self-center">
        <div class="card border-0 shadow-sm mb-4">
            <div class="card-header">
                <div class="row ">
                    <div class="col-auto">
                        <h4 class="mt-0 mb-1">Syllabus List</h4>
                    </div>
                    @*<p style="color:red">
                            @TempData["EmployeeSalarySlip"]
                        </p>*@
                </div>
            </div>

            <div class="card-body ">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered w-100 mb-0" id="example23">
                                <thead>
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th>Student </th>
                                        <th>Class Name</th>
                                        <th>Section</th>
                                        <th>File</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.classLst != null)
                                        {
                                            var i = 1;
                                            foreach (var item in Model.classLst)
                                            {
                                                <tr role="row">
                                                    <td>@i</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.ClassName</td>
                                                    <td>@item.SectionName</td>
                                                    <td><a href="@item.Syllabus" target="_blank"><img src="@item.Syllabus" style="height:50px;width:50px;" />  </a>    </td>

                                                </tr>
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
}



