@model AfluexSchool.Models.DashBoard

@{
    ViewBag.Title = "School Afluex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-xxl-12 col-sm-12">
            <div class="row">
                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="widget-stat card" style="background:#2d1238;!important">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body text-white">
                                    <p class="mb-1">Total Parent</p>
                                    <h3 class="text-white">@ViewBag.TotalParent</h3>
                                    <div class="progress mb-2 bg-secondary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 50%"></div>
                                    </div>
                                    <small><a href="/Parent/ParentList" class="text-white">View Details</a></small>
                                </div>
                                <span class="ml-3 p-2 overflow-hidden">
                                   <img class="w-100" src="https://cdn-icons-gif.flaticon.com/9874/9874023.gif" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="widget-stat card" style="background:#7e3600;!important">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body text-white">
                                    <p class="mb-1">Total Student</p>
                                    <h3 class="text-white">@ViewBag.TotalStudent</h3>
                                    <div class="progress mb-2 bg-primary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 50%"></div>
                                    </div>
                                    <small><a class="text-white" href="/Student/StudentRegistrationList">View Details</a></small>
                                </div>
                                <span class="ml-3 p-2 overflow-hidden">
                                    <img class="w-100" src="https://cdn-icons-gif.flaticon.com/12317/12317779.gif" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="widget-stat card bg-secondary">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body text-white">
                                    <p class="mb-1">Total Employee</p>
                                    <h3 class="text-white">@ViewBag.TotalStaff</h3>
                                    <div class="progress mb-2 bg-primary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 10%"></div>
                                    </div>
                                    <small><a class="text-white" href="/Permission/UserList">View Details</a></small>
                                </div>
                                <span class="ml-3 p-1 overflow-hidden">
                                    <img class="w-100" src="https://cdn-icons-gif.flaticon.com/12340/12340711.gif" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="widget-stat card" style="background:#642b1e;!important">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body text-white">
                                    <p class="mb-1">Total Teacher</p>
                                    <h3 class="text-white">@ViewBag.TotalTeacher</h3>
                                    <div class="progress mb-2 bg-secondary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 20%"></div>
                                    </div>
                                    <small><a class="text-white" href="/Teacher/TeacherList">View Details</a></small>
                                </div>
                                <span class="ml-3 p-1 overflow-hidden">
                                    <img class="w-100" src="https://cdn-icons-gif.flaticon.com/11545/11545402.gif" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="widget-stat card bg-primary">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body text-white">
                                    <p class="mb-1">Total SMS</p>
                                    <h3 class="text-white">@ViewBag.TotalSMS</h3>
                                    <div class="progress mb-2 bg-secondary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 70%"></div>
                                    </div>
                                    @*<small>30% Increase in 30 Days</small>*@
                                </div>
                                <span class="ml-3 p-2 overflow-hidden">
                                    <img class="w-100" src="https://cdn-icons-gif.flaticon.com/8717/8717912.gif" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="widget-stat card" style="background:#1e3945;!important">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body text-white">
                                    <p class="mb-1">Send SMS</p>
                                    <h3 class="text-white">@ViewBag.TotalSendSMS</h3>
                                    <div class="progress mb-2 bg-secondary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 50%"></div>
                                    </div>
                                    <small><a class="text-white" href="/AdminReports/UsedSMS?Status=Send">View Details</a></small>
                                </div>
                                <span class="ml-3 p-2 overflow-hidden">
                                    <img class="w-100" src="https://cdn-icons-gif.flaticon.com/6416/6416396.gif" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="widget-stat card" style="background:#2a5787;!important">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body text-white">
                                    <p class="mb-1">Failed SMS</p>
                                    <h3 class="text-white">@ViewBag.TotalUnSendSMS</h3>
                                    <div class="progress mb-2 bg-secondary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 30%"></div>
                                    </div>
                                    <small><a class="text-white" href="/AdminReports/UsedSMS?Status=Failed">View Details</a></small>
                                </div>
                                <span class="ml-3 p-2 overflow-hidden">
                                    <img class="w-100" src="https://cdn-icons-gif.flaticon.com/8717/8717931.gif" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="widget-stat card" style="background:#162432;!important">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body text-white">
                                    <p class="mb-1">Balance</p>
                                    <h3 class="text-white">@ViewBag.Balance</h3>
                                    <div class="progress mb-2 bg-secondary">
                                        <div class="progress-bar progress-animated bg-light" style="width: 70%"></div>
                                    </div>
                                    <small>30% Increase in 30 Days</small>
                                </div>
                                <span class="ml-3 p-2 overflow-hidden">
                                    <img class="w-100" src="https://cdn-icons-gif.flaticon.com/11259/11259489.gif" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-xxl-12 col-sm-12">
            <div class="row">
                <div class="col-xl-4 col-xxl-4 col-sm-12">
                    <div class="card shadow">
                        <div class="card-header">
                            <h4 class="card-title">SMS Summary</h4>
                        </div>
                        <div class="card-body">
                            <canvas id="pie_chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-xxl-4 col-sm-12">
                    <div class="card shadow">
                        <div class="card-header">
                            <h4 class="card-title">Staff/Teacher</h4>
                        </div>
                        <div class="card-body">
                            <canvas id="pie_chartstaff"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-xxl-4 col-sm-12">
                    <div class="card shadow">
                        <div class="card-header">
                            <h4 class="card-title">Student/Parent</h4>
                        </div>
                        <div class="card-body">
                            <canvas id="pie_chartstudent"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-xxl-12 col-sm-12 card">
            <div class="card-header">
                <h4 class="card-title">Top 10 Teacher</h4>
            </div>
            <div class="row card-body">
                @if (Model != null)
                {
                    if (Model.lstteacher != null)
                    {
                        foreach (var item in Model.lstteacher)
                        {

                <div class="col-xl-3 col-xxl-3 col-sm-12">
                    <div class="card-body shadow">
                        <div class="text-center">
                            <div class="profile-photo">
                                @if (item.ImagePath != null && item.ImagePath != "../../img/no-profile.jpeg")
                                {
                                    <img src="./@item.ImagePath" width="100" class="img-fluid rounded-circle" alt="">
                                }
                                else
                                {
                                    <img src="~/AssetsAdmin/images/avatar/1.png" width="100" class="img-fluid rounded-circle" alt="" />
                                }
                               
                                
                            </div>
                            <h3 class="mt-4 mb-1">
                                @item.Name
                            </h3>
                            <p class="text-muted mb-1">@item.Qualification</p>
                        </div>
                    </div>
                </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = bindsms;


    function bindsms() {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '/Admin/BindSMSChart',
            data: JSON.stringify(),
            success:
           function (d) {
               debugger;
               var Status = [];
               var Total = [];
               var t = JSON.parse(JSON.stringify(d));
               for (var i = 0; i < t.length; i++) {
                   Status.push(t[i].Status);
                   Total.push(t[i].Total);
               }
               debugger;
               //pie chart
               if (jQuery('#pie_chart').length > 0) {
                   //pie chart
                   const pie_chart = document.getElementById("pie_chart").getContext('2d');
                   // pie_chart.height = 100;
                   new Chart(pie_chart, {
                       type: 'pie',
                       data: {
                           defaultFontFamily: 'Poppins',
                           datasets: [{
                               data: Total,
                               borderWidth: 0,
                               backgroundColor: [
                                   "#0e3a62",
                                   "rgba(219, 0, 0, 0.8)"
                               ],
                               hoverBackgroundColor: [
                                   "#0e3a62",
                                   "rgba(219, 0, 0, 0.8)"
                               ]

                           }],
                           labels: Status
                       },
                       options: {
                           responsive: true,
                           legend: false,
                           maintainAspectRatio: false
                       }
                   });
               }
           }
        });

        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '/Admin/BindStaffChart',
            data: JSON.stringify(),
            success:
           function (d) {
               debugger;
               var Status = [];
               var Total = [];
               var t = JSON.parse(JSON.stringify(d));
               for (var i = 0; i < t.length; i++) {
                   Status.push(t[i].Status);
                   Total.push(t[i].Total);
               }
               debugger;
               //pie chart
               if (jQuery('#pie_chartstaff').length > 0) {
                   //pie chart
                   const pie_chartstaff = document.getElementById("pie_chartstaff").getContext('2d');
                   // pie_chart.height = 100;
                   new Chart(pie_chartstaff, {
                       type: 'pie',
                       data: {
                           defaultFontFamily: 'Poppins',
                           datasets: [{
                               data: Total,
                               borderWidth: 0,
                               backgroundColor: [
                                  "rgba(82, 201, 72, 0.8)",
                                   "#ff8f16"
                               ],
                               hoverBackgroundColor: [
                                  "rgba(82, 201, 72, 0.8)",
                                   "#ff8f16"
                               ]

                           }],
                           labels: Status
                       },
                       options: {
                           responsive: true,
                           legend: false,
                           maintainAspectRatio: false
                       }
                   });
               }
           }
        });

        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '/Admin/BindParentChart',
            data: JSON.stringify(),
            success:
           function (d) {
               debugger;
               var Status = [];
               var Total = [];
               var t = JSON.parse(JSON.stringify(d));
               for (var i = 0; i < t.length; i++) {
                   Status.push(t[i].Status);
                   Total.push(t[i].Total);
               }
               debugger;
               //pie chart
               if (jQuery('#pie_chartstudent').length > 0) {
                   //pie chart
                   const pie_chartstudent = document.getElementById("pie_chartstudent").getContext('2d');
                   // pie_chart.height = 100;
                   new Chart(pie_chartstudent, {
                       type: 'pie',
                       data: {
                           defaultFontFamily: 'Poppins',
                           datasets: [{
                               data: Total,
                               borderWidth: 0,
                               backgroundColor: [
                                   "#0e3a62",
                                   "rgba(7, 155, 213, 0.8)"
                               ],
                               hoverBackgroundColor: [
                                    "#0e3a62",
                                   "rgba(7, 155, 213, 0.8)"
                               ]

                           }],
                           labels: Status
                       },
                       options: {
                           responsive: true,
                           legend: false,
                           maintainAspectRatio: false
                       }
                   });
               }
           }
        })

    }

</script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    //google.charts.setOnLoadCallback(bindsms);




    //function bindsms() {
    //    $.ajax({
    //        type: 'POST',
    //        dataType: 'json',
    //        contentType: 'application/json',
    //        url: '/Admin/BindSMSChart',
    //        data: JSON.stringify(),
    //        success:
    //        function (response) {
    //            var datare = response;
    //            var data = new google.visualization.DataTable();

    //            data.addColumn('string', 'Status');
    //            data.addColumn('number', 'Total');


    //            for (var i = 0; i < datare.length; i++) {
    //                data.addRow(
    //                    [datare[i].Status, parseInt(datare[i].Total)]

    //                    );


    //            }


    //            var chart = new google.visualization.PieChart(document.getElementById('divsmschart'));
    //            var options = {
    //                pieSliceText: 'value-and-percentage',
    //                format: 'decimal',
    //                is3D: true,
    //                legend: { position: 'top' },
    //                animation: {
    //                    startup: true,
    //                    duration: 1000,
    //                    easing: 'out',
    //                }, chartArea: { width: "80%", height: "80%" }
    //            };

    //            chart.draw(data, options);




    //        },
    //        error: function () {
    //        }
    //    });
    //}


    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(bindstaff);

    function bindstaff() {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '/Admin/BindStaffChart',
            data: JSON.stringify(),
            success:
            function (response) {
                var datare = response;
                var data = new google.visualization.DataTable();

                data.addColumn('string', 'Status');
                data.addColumn('number', 'Total');


                for (var i = 0; i < datare.length; i++) {
                    data.addRow(
                        [datare[i].Status, parseInt(datare[i].Total)]

                        );


                }


                var chart = new google.visualization.PieChart(document.getElementById('divstaffchart'));
                var options = {
                    pieSliceText: 'value-and-percentage',
                    format: 'decimal',
                    is3D: true,
                    legend: { position: 'top' },
                    animation: {
                        startup: true,
                        duration: 1000,
                        easing: 'out',
                    }, chartArea: { width: "80%", height: "80%" }
                };

                chart.draw(data, options);




            },
            error: function () {
            }
        });
    }


    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(bindparent);

    function bindparent() {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '/Admin/BindParentChart',
            data: JSON.stringify(),
            success:
            function (response) {
                var datare = response;
                var data = new google.visualization.DataTable();

                data.addColumn('string', 'Status');
                data.addColumn('number', 'Total');


                for (var i = 0; i < datare.length; i++) {
                    data.addRow(
                        [datare[i].Status, parseInt(datare[i].Total)]

                        );


                }


                var chart = new google.visualization.PieChart(document.getElementById('divparentchart'));
                var options = {
                    pieSliceText: 'value-and-percentage',
                    format: 'decimal',
                    is3D: true,
                    legend: { position: 'top' },
                    animation: {
                        startup: true,
                        duration: 1000,
                        easing: 'out',
                    }, chartArea: { width: "80%", height: "80%" }
                };

                chart.draw(data, options);




            },
            error: function () {
            }
        });
    }

</script>