@model AfluexSchool.Models.HRManagement

@{
    ViewBag.Title = "EmployeeSalarySlip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("EmployeeSalarySlip", "HRManagement", FormMethod.Post, new { @id = "signupForm", enctype = "multipart/form-data",@autocomplete="off" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Teacher Salary Slip</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">HR</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Teacher Salary Slip</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["EmployeeSalarySlip"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>From Date</label>
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", placeholder = "From Date" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>To Date</label>
                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", placeholder = "To Date" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="d-block">&nbsp;</label>
                            <input type="submit" value="Get Details" class="btn btn-primary" name="Search" onclick="return ValidateSearch();" />
                        </div>
                    </div>
                </form>

                @if (Model != null)
                {
                    if (Model.lstList != null)
                    {
                            <div class="table-responsive">
                                    <table id="example5" class="display table" style="min-width:845px">
                                        <thead>
                                            <tr>
                                                <th>Print</th>
                                                <th>Sr.No.</th>
                                                <th>Emp Code</th>
                                                <th>Emp Name</th>
                                                <th>Basic      </th>
                                                <th>HRA         </th>
                                                <th>MA    </th>
                                                <th>PA       </th>
                                                <th>CA    </th>
                                                <th>PF    </th>
                                                <th>ExtraWork              </th>
                                                <th>Incentive              </th>
                                                <th>OtherPay               </th>
                                                <th>TotalIncome            </th>
                                                <th>Contribution To Society  </th>
                                                <th>Advance                </th>
                                                <th>TDS                    </th>
                                                <th>Insurance              </th>
                                                <th>Other                  </th>
                                                <th>TotalDeduction         </th>
                                                <th>MonthName              </th>
                                                <th>Year                   </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.lstList != null)
                                                {
                                                    int i = 1;
                                                    foreach (var item in Model.lstList)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a href="/HRManagement/PrintSalarySlip?Pk_PaidSalId=@item.Pk_PaidSalId" class="btn btn-success btn-sm" target="_blank">Print</a>

                                                            </td>
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>@item.EmployeeCode   </td>
                                                            <td>@item.EmployeeName   </td>

                                                            <td>@item.Basic</td>
                                                            <td>@item.HRA  </td>
                                                            <td> @item.MA </td>
                                                            <td>@item.PA</td>
                                                            <td>@item.CA</td>
                                                            <td>@item.PF</td>
                                                            <td>@item.ExtraWork </td>
                                                            <td>@item.Incentive </td>
                                                            <td>@item.OtherPay  </td>
                                                            <td>@item.TotalIncome</td>
                                                            <td>@item.ContributionTosociety</td>
                                                            <td>@item.Advance   </td>
                                                            <td>@item.TDS       </td>
                                                            <td>@item.Insurance </td>
                                                            <td>@item.Other     </td>
                                                            <td>@item.TotalDeduction</td>
                                                            <td>@item.MonthName  </td>
                                                            <td>@item.Year </td>
                                                        </tr>
                                                        i++;
                                                    }
                                                    <input type="hidden" id="hdRows" name="hdRows" value="@i" />
                                                }
                                            }

                                        </tbody>

                                    </table>

                               
                            </div>
                    }
                }

            </div>
        </div>
    </div>

    
}


<script src="../../AdminPanelcss/assets/js/jquery-3.3.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css"> 

<script>

    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });

    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });

    function ValidateSearch() {

        $(".errortext").removeClass("errortext");
        //if ($("#FromDate").val() == "") {
        //    $("#FromDate").addClass('errortext');
        //    $("#FromDate").focus();
        //    return false;
        //}
        //if ($("#ToDate").val() == "") {
        //    $("#ToDate").addClass('errortext');
        //    $("#ToDate").focus();
        //    return false;
        //}
        $("#divload").css({ 'display': '' });
        return true;

    }
</script>

