@model AfluexSchool.Models.HRManagement

@{
    ViewBag.Title = "EmployeeSalary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .errortext{
        border:1px solid red!important;
        background-color:#fabdbd!important;
    }
</style>

@using (Html.BeginForm("EmployeeSalary", "HRManagement", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Teacher Salary</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">HR</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Teacher Salary</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["EmpSal"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Customer Branch<span style="color:red">*</span></label>
                            @Html.DropDownListFor(m => m.Branch, new SelectList(ViewBag.ddlbranch, "Value", "Text"), new { @class = "form-control", @onchange = "return GetEmployee();" })
                            @Html.HiddenFor(m => m.LoginId)
                        </div>
                        <div class="form-group  col-md-3">
                            <label>Employee Name<span style="color:red">*</span></label>
                            @Html.DropDownListFor(m => m.EmployeeID, new SelectList(ViewBag.ddlEmployee, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Payment Date<span style="color:red">*</span></label>
                            @Html.TextBoxFor(m => m.PaymentDate, new { @class = "form-control", @Placeholder = "Payment Date" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="d-block">&nbsp;</label>
                            <input type="submit" name="Search" id="Search" value="Search" class="btn btn-info" onclick="return validateform();" />
                        </div>
                    </div>
                </form>

                @if (Model != null)
                {
                    if (Model.lstList != null)
                    {
                        int i = 1;
                                <div class="row mt-3">
                                    <div class="col-md-12 col-lg-6">
                                        <div>
                                            <div class="table-responsive">

                                                <!-- /.box-header -->
                                                <h4 class="page-header">Earning</h4>
                                                <div>
                                                    <table class="display table" style="min-width:845px">
                                                        <thead>
                                                            <tr>
                                                                <th>Code</th>
                                                                <th>Name</th>
                                                                <th>IsAmt/Per</th>
                                                                <th>Value</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var Item in Model.lstList)
                                                            {
                                                                <tr class="text-left">

                                                                    <td>@Item.SalaryHeadCode</td>
                                                                    <td>@Item.SalaryHeadName</td>

                                                                    <td>@Item.IsAmtPer</td>
                                                                    <td><input type="text" class="form-control" id="txtEarVal @i" value="@Item.Value" name="txtEarVal @i" onchange="getdata1(this,'@Item.IsAmtPer','@i')" /></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtEarAmt @i" value="@Item.PaidAmount" name="txtEarAmt @i" onchange="getdata2(this)" readonly="readonly" />

                                                                        <input type='hidden' value='@Item.SalaryHeadID' id='ESalHeadId_ @i' name='ESalHeadId_ @i'>
                                                                        @*   <input type='hidden' value='@Item.SalaryAmount' id='ESalAmt_ @i' name='ESalAmt_ @i'>*@

                                                                    </td>
                                                                </tr>
                                                                i++;
                                                            }
                                                            <input type='hidden' value='@i' id='hdrows' name='hdrows' />
                                                        </tbody>
                                                    </table>
                                                    @*<div class="text-center">  <h5>Total</h5>   <input type="text" id="txtTotalEarning" /></div>*@

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <div>
                                            <h4 class="page-header">Deduction</h4>
                                            <!-- /.box-header -->
                                            <div>
                                                <div class="table-responsive">
                                                    <table class="display table" style="min-width:845px">
                                                        <thead>
                                                            <tr>
                                                                <th>Code</th>
                                                                <th>Name</th>
                                                                <th>IsAmt/Per</th>
                                                                <th>Value</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model != null)
                                                            {
                                                                if (Model.lstList1 != null)
                                                                {
                                                                    int j = 1;
                                                                    foreach (var Item1 in Model.lstList1)
                                                                    {
                                                                        <tr class="text-left">

                                                                            <td>@Item1.SalaryHeadCode</td>
                                                                            <td>@Item1.SalaryHeadName</td>

                                                                            <td>@Item1.IsAmtPer</td>
                                                                            <td><input type="text" value="@Item1.Value" class="form-control" id="txtDedVal @j" name="txtDedVal @j" onchange="getdata3(this,'@Item1.IsAmtPer','@j')" /></td>
                                                                            <td>
                                                                                <input type="text" class="form-control" value="@Item1.PaidAmount" id="txtDedAmt @j" name="txtDedAmt @j" onchange="getdata4(this)" readonly="readonly" />

                                                                                <input type='hidden' value='@Item1.SalaryHeadID' id='DSalHeadId_ @j' name='DSalHeadId_ @j'>
                                                                                <input type='hidden' value='@Item1.SalaryAmount' id='DSalAmt_ @j' name='DSalAmt_ @j'>

                                                                            </td>
                                                                        </tr>
                                                                        j++;
                                                                    }
                                                                    <input type='hidden' value='@j' id='hdrows1' name='hdrows1' />
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                    @*<div class="text-center">  <h5>Total</h5>   <input type="text" id="txtTotalDeduction" /></div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <input type="submit" value="Save" id="Save" name="Save" class="btn btn-success" onclick="return SaveValidate();" />
                                    </div>
                                    
                                </div>
                            <input type="hidden" id="TxtValEarning" />
                            <input type="hidden" id="headtypeE" />
                            <input type="hidden" id="TxtAmtEarning" />
                            <input type="hidden" id="TxtValDeduction" />
                            <input type="hidden" id="TxtAmtDeduction" />
                            <input type="hidden" id="headtypeD" />
                            <input type="hidden" id="hdTotalEarning" />
                            <input type="hidden" id="hdTotalEarning1" />
                    }
                }

            </div>
        </div>
    </div>

    
}


<script src="../../AdminPanelcss/assets/js/jquery-3.3.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>
    $(document).ready(function () {
        debugger;
        $("#divload").css({ 'display': 'none' });
        $(".errortext").removeClass("errortext");
    });

    function validateform() {
        $("#divload").css({ 'display': 'none' });
        $(".errortext").removeClass("errortext");

        if ($("#Branch").val() == "0") {
            $("#Branch").addClass('errortext');
            $("#Branch").focus();
            return false;
        }
        if ($("#EmployeeID").val() == "0") {
            $("#EmployeeID").addClass('errortext');
            $("#EmployeeID").focus();
            return false;
        }
        if ($("#PaymentDate").val() == "") {
            $("#PaymentDate").addClass('errortext');
            $("#PaymentDate").focus();
            return false;
        }
        return true;
    }

    function SaveValidate() {
        $(".errortext").removeClass("errortext");

        if (document.getElementById("txtEarVal 1").value == '') {
            alert("Please fill Basic Salary .")
            return false;
        }
        if ((Number)(document.getElementById("txtTotalEarning").value) < (Number)(document.getElementById("txtTotalDeduction").value)) {
            alert("Earning should be greater than deduction");
            return false;
        }

        if ($("#Branch").val() == "0") {
            $("#Branch").addClass('errortext');
            $("#Branch").focus();
            return false;
        }
        //if ($("#EmployeeID").val() == "0") {
        //    $("#EmployeeID").addClass('errortext');
        //    $("#EmployeeID").focus();
        //    return false;
        // }
        if ($("#PaymentDate").val() == "") {
            $("#PaymentDate").addClass('errortext');
            $("#PaymentDate").focus();
            return false;
        }
        return true;
    }

    $(document).ready(function () {
        //alert("Called");
        document.getElementById("hdTotalEarning").value = 0;
        document.getElementById("hdTotalEarning1").value = 0;
    });

    function getdata1(earningval, IsAmtPer, i) {
        $('#TxtValEarning').val(earningval.value);
        $('#headtypeE').val(IsAmtPer);
        var totalEarning = 0;
        var oldTotalEarning = document.getElementById("hdTotalEarning").value;

        if (IsAmtPer == 'A') {
            totalEarning = (Number)(oldTotalEarning) + (Number)(earningval.value);
            document.getElementById("txtEarAmt " + i).value = earningval.value;
        }
        else {
            var basic = document.getElementById("txtEarVal 1").value;
            document.getElementById("txtEarAmt " + i).value = ((Number)(basic) * (Number)(earningval.value) / 100).toString();
            totalEarning = (Number)(oldTotalEarning) + ((Number)(basic) * (Number)(earningval.value) / 100);
        }
        document.getElementById("hdTotalEarning").value = totalEarning;
        $("#txtTotalEarning").val(totalEarning);

    }

    function getdata3(dedval, IsAmtPer, i) {
        $('#TxtValDeduction').val(dedval.value);
        $('#headtypeD').val(IsAmtPer);
        var totalEarning = 0;
        var oldTotalEarning = document.getElementById("hdTotalEarning1").value;

        if (IsAmtPer == 'A') {
            document.getElementById("txtDedAmt " + i).value = dedval.value;
            totalEarning = (Number)(oldTotalEarning) + (Number)(dedval.value);
        }
        else {
            var basic = document.getElementById("txtEarVal 1").value;
            document.getElementById("txtDedAmt " + i).value = ((Number)(basic) * (Number)(dedval.value) / 100).toString();
            totalEarning = (Number)(oldTotalEarning) + ((Number)(basic) * (Number)(dedval.value) / 100);
        }
        document.getElementById("hdTotalEarning1").value = totalEarning;
        $("#txtTotalDeduction").val(totalEarning);
    }

    function getdata2(earningamt) {
        $('#TxtAmtEarning').val(earningamt.value);
    }

    function getdata4(dedamt) {
        $('#TxtAmtDeduction').val(dedamt.value);
    }

    $('#PaymentDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });
    function GetEmployee() {

        $("#divload").css({ 'display': '' });


        $.ajax({
            url: '/HRManagement/GetEmployeeByBranch', type: 'post', dataType: 'json',
            data: { 'Branch': $('#Branch').val() },
            success: function (data) {

                $("#EmployeeID").html("");
                $("#EmployeeID").empty();
                $("#EmployeeID").append(
                      $('<option></option>').val(0).html('Select Employee'));
                $.each(data.lstListEmp, function (index, AccountCount) {
                    $("#EmployeeID").append(
                          $('<option></option>').val(AccountCount.Value).html(AccountCount.Text));
                });


                $("#divload").css({ 'display': 'none' });

            }

        });
    }
</script>


