@model AfluexSchool.Models.HRManagement

@{
    ViewBag.Title = "PublishSalary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("PublishSalary", "HRManagement", FormMethod.Post, new { @id = "signupForm", enctype = "multipart/form-data",@autocomplete="off" }))
{
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h3><b>Publish Salary</b></h3>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">HR</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Publish Salary</a></li>
                </ol>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <p style="color:red">
                    @TempData["PublishSalary"]
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Payment Date</label>
                            @Html.TextBoxFor(m => m.PaymentDate, new { @class = "form-control", @Placeholder = "Payment Date" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="d-block">&nbsp;</label>
                            <input type="submit" value="Get Details" class="btn btn-primary" name="Search" onclick="return ValidateSearch();" />
                        </div>
                    </div>
                </form>

               @if (Model != null)
               {
                   if (Model.lstList != null)
                   {
                            <div class="form-row mb-3">
                                <div class="form-group col-md-3">
                                     <label>Publish Date</label>
                                     @Html.TextBoxFor(m => m.PublishDate, new { @class = "form-control", @Placeholder = "Publish Date" })
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label class="d-block">&nbsp;</label>
                                    <input type="submit" value="Publish" class="btn btn-primary" name="Save" onclick="return Validate();" />
                                </div>
                            </div>
                            <div class="table-responsive">
                                    <table id="example5" class="display table">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" name="checkedAll" id="checkedAll" style="margin-top:3px;"/>All</th>
                                                <th>Sr.No.</th>
                                                <th>Emp Code</th>
                                                <th>Emp Name</th>
                                                <th>Basic</th>
                                                <th>HRA</th>
                                                <th>MA</th>
                                                <th>PA</th>
                                                <th>CA</th>
                                                <th>PF</th>
                                                <th>ExtraWork</th>
                                                <th>Incentive</th>
                                                <th>OtherPay</th>
                                                <th>TotalIncome</th>
                                                <th>ContributionTosociety</th>
                                                <th>Advance</th>
                                                <th>TDS</th>
                                                <th>Insurance</th>
                                                <th>Other</th>
                                                <th>TotalDeduction</th>
                                                <th>MonthName</th>
                                                <th>Year</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.lstList != null)
                                                {
                                                    int i = 1;
                                                    foreach (var item in Model.lstList)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox" id="checkBoxId_ @i" name="checkBoxId_ @i" class="chkclass" />
                                                                <input type="hidden" name="Pk_EmployeeID_ @i" id="Pk_EmployeeID_ @i" value="@item.EmployeeID" />
                                                            </td>
                                                            <td>
                                                                @i
                                                            </td>

                                                            <td>@item.EmployeeCode         </td>
                                                            <td>@item.EmployeeName         </td>

                                                            <td>@item.Basic                </td>
                                                            <td>@item.HRA                  </td>
                                                            <td>
                                                                @item.MA
                                                            </td>
                                                            <td>@item.PA                   </td>
                                                            <td>@item.CA                   </td>
                                                            <td>@item.PF                   </td>
                                                            <td>@item.ExtraWork            </td>
                                                            <td>@item.Incentive            </td>
                                                            <td>@item.OtherPay             </td>
                                                            <td>@item.TotalIncome          </td>
                                                            <td>@item.ContributionTosociety</td>
                                                            <td>@item.Advance              </td>
                                                            <td>@item.TDS                  </td>
                                                            <td>@item.Insurance            </td>
                                                            <td>@item.Other                </td>
                                                            <td>@item.TotalDeduction       </td>
                                                            <td>@item.MonthName            </td>
                                                            <td>@item.Year </td>

                                                        </tr>
                                                        i++;
                                                    }
                                                    <input type="hidden" id="hdRows" name="hdRows" value="@i" />
                                                }
                                            }

                                        </tbody>

                                    </table>
                            </div>
                       
                   }
               }

            </div>
        </div>
    </div>

}

<script src="../../AdminPanelcss/assets/js/jquery-3.3.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>

    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });

    });


    $('#checkedAll').click(function () {
        if ($(this).prop("checked")) {
            //$('input:checkbox[name=checkBoxId_]').attr('checked', true);
            $('.chkclass').prop("checked", true);
        } else {
            //$('input:checkbox[name=checkBoxId_]').attr('checked', false);
            $('.chkclass').prop("checked", false);
        }
    });

    $('#PaymentDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });

    $('#PublishDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });


    function ValidateSearch() {

        $(".errortext").removeClass("errortext");
        if ($("#PaymentDate").val() == "") {
            $("#PaymentDate").addClass('errortext');
            $("#PaymentDate").focus();
            return false;
        }
        $("#divload").css({ 'display': '' });
        return true;
    }
    function Validate() {
        $(".errortext").removeClass("errortext");
        if ($("#PublishDate").val() == "") {
            $("#PublishDate").addClass('errortext');
            $("#PublishDate").focus();
            return false;
        }
        if (($("input[name*='checkBoxId_']:checked").length) <= 0) {
            alert("You must check at least 1 box");
            return false;
        }
        $("#divload").css({ 'display': '' });
        return true;
    }
</script>

